h3 {
    font-size: 1.6em;
}

.care-advice {
    background-color: #ffffff;
    padding: 0;
}

hr {
    clear: left;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(grey));
    background-image: -webkit-linear-gradient(top, transparent 50%, grey 50%);
    background-image: linear-gradient(to bottom, transparent 50%, grey 50%);
}
.advice-before-going {
    padding: 0;
    width:  45em;
    float:left;
}
@media (max-width: 1720px) {
    .advice-before-going {
        width: 30em;
    }
}
.findAandE {
    padding: 20px;
}


.findAandE-form {
    width: 25em; 
    background-color:  #EAEAEA;
    float: left;
    border: 1px solid grey;
}
@media (max-width: 1360px) {
    .findAandE-form {
        width: 100%;
    }
}

.sub-header {
    background-color: #003087;
    /*height: 231px;*/
    color: white;
    font-size: 120%;
    padding-bottom: 40px;
}

    .sub-header div {
        margin: 0 auto;
        width: 75%;
    }

    .sub-header .aande {
        background-color: white;
        color: #fa8633;
        width: 60px;
        height: 60px;
        border-radius: 80px;
        padding: 20px;
        font-size: 108px;
        line-height: 62px;
        font-weight: bolder;
        margin: 65px 30px 65px 0;
        float: left;
    }

    .sub-header h2 {
        padding-top: 70px;
        margin-bottom: 25px;
        font-size: 1.6em;
    }

    .sub-header p {
        font-size: 120%;
        padding-bottom: 70px;
    }

.button.find-address {
    background-color: #707070;
    padding-right: 5rem;
    background-image: url("/content/images/icons/icon-button-next.svg");
    background-repeat: no-repeat;
    background-position: 85% 60%;
}

    .button.find-address:link, .button.find-address:hover, .button.find-address:focus, .button.find-address:visited {
        background-color: #333333;
    }

.inline-details {
    overflow: auto;
    display: block;
    padding: 0.5rem 0 2rem 0;
}

    .inline-details input {
        float: left;
        margin-right: 2rem;
    }

.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

    .button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
        color: #79AFDD;
        outline: none;
    }

    .button-link:hover, .button-link:focus {
        text-decoration: underline !important;
    }

form .findAandE {
    display: block;
    float: left;
}
.findAandE .button-next {
    background-position: 95% 60%;
    float: left;
    clear: both;

}


@media (min-width: 641px) {
    .findAandE .form-control {
        float: left;
        clear: left;
        width: 365px;
    }

    .findAandE .button-next {
            margin-top: 20px;
    }
}

@media (max-width: 640px) {
    .findAandE .button-next {
        margin-top: 5px;
    }
}

.findAandE label {
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
    clear: left;
}
.changeAnswers {
    float: left;
    clear:both;
}

.section-margin {
    margin-top: 5px;
}

details summary {
    width: 100%;
    outline:none;
     
}

details summary:hover {
    border: 0;
}

details summary::-webkit-details-marker {
    float: right;
    padding-top: 1.4rem;
}