.notification-banner {
    background-color: #000;
}
    .notification-banner a {
        color: #fff;
    }
.notification-banner--inner {
    margin: 0 16px;
    padding: 8px 0;
}


@media (min-width: 925px) {
    .notification-banner--inner {
        margin: 0 32px;
        max-width: 75%;
    }
}
@media (min-width: 1024px) {
    .notification-banner--inner {
        margin: 0 auto;
    }
}
.notification-banner * {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    color: #fff;
}
@media (min-width: 641px) {
    .notification-banner * {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (min-width: 925px) {
    .notification-banner * {
        font-size: 16px;
        line-height: 24px;
    }
}
.notification-banner__hidden {
    display: none;
}
.notification-banner .icon {
    /*padding-top: 10px;
    padding-right: 10px;
    padding-top: 10px;*/
    padding-left: 10px;
    opacity: 0.8;
}
@media (min-width: 980px) {
    .notification-banner .icon {
        padding-right: 0;
    }
}
.icon {
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-close {
    cursor: pointer;
}
.icon-close:before {
    content: "x";
}
.notification-banner--inner strong {
    font-weight: bold;
}
/*surevey link banner styles*/
.survey-banner-wrap {
    background: #578300;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    left: 0;
    display: none;
}
@media (max-width: 640px) {
    .survey-banner-wrap {
        width: 100%;
    }
}
.survey-banner-wrap.clear {
    margin-bottom: 0;
}
.survey-banner-wrap .survey-banner-content {
    margin: 0 auto;
    width: auto;
    padding: 0 10px 10px 10px;
}
.survey-banner-wrap .survey-banner-content .survey-invite {
    float: left;
    width: 58%;
}
.survey-banner-wrap .survey-banner-content p {
    color: #fff;
    padding-bottom: 0;
    margin-top: .6em;
    margin-right: 1em;
}
.survey-banner-content ul {
    float: left;
    list-style: none;
    width: 42%;
    margin-bottom: 0;
    clear: none;
}
@media (max-width: 640px) {
    .survey-banner-wrap .survey-banner-content p, .survey-banner-content ul {
        float: none;
        width: 100%;
        margin-top: 0;
        margin-right: 0;
    }
}
.survey-banner-content ul li {
    float: left;
    margin-top: .6em;
    margin-right: 1em;
}
@media (max-width: 640px) {
    .survey-banner-wrap .survey-banner-content ul li {
        display: inline;
        margin-right: .3em;
    }
}
.survey-banner-content ul li a {
    background: #fff;
    border-radius: 5px;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 640px) {
    .survey-banner-wrap .survey-banner-content ul li a {
        padding: 3px 5px;
        font-size: .9em;
    }
}