
.self-care-content {
    padding: 1rem 1rem 0 1rem;
    max-width: 50rem;
}

@media screen and (min-width: 40em) {
    .self-care-content {
        max-width: 45.8333333333rem;
    }
}

.self-care-title {
    font-weight: bold;
}

.service-booking-message {
    background-color: yellow;
    padding: 10px 20px;
    border-left: 4px solid yellowgreen;
    margin: 2rem 0 4rem 0.8rem;
    line-height: 3rem;
}

.service-booking-message.alert {
     background-color: #F5E5E6;
     border-left: 4px solid #982426;
}