.gender-content
{
    text-align: center;
    overflow: hidden;
}
.gender
{
    display: inline;
    float: left;
    cursor: pointer;
    margin: 0 22px 0 15px;
}
.gender-content {
    margin: 30px 0;
    
}
.maleIcon {
    
}
.age-content {
    
}
.age {
    margin: 30px 0;
}
.input-age {
    width: 50px;
}
.hide-age {
    display: none;
}
.femaleIcon {
    margin-left: 30px;
}
.maleIcon {
    margin-left: 30px;
}
