    input[type='radio'] {
        display: inline;
        width: 30px;
        height: 30px;
    }

button[type='submit'].button-next {
    background-position: 100% 60%;
}

    button[type='submit'] {
        margin-bottom: 10px;
    }

    h2.question-header {
        margin: 30px 0;
    }

    label {
        vertical-align: super;
    }

    ul {
        margin-bottom: 40px;
        clear: both;
    }

    ul li {
        margin-bottom: 15px;
    }

    aside.question-rationale {
    background-color: #e4f1f9;
    position: relative;
    padding: 10px 20px;
    border-left: 4px solid #0073c6;
    margin: 0 0 20px 0;
    float: left;

    }

    aside.question-rationale h3 {
        font-size: 100%;
        line-height: 32px;
    }

    aside.question-rationale p {
        margin-bottom: 0;
        padding-top: 0;
    }

    .help-text-link-message {
        display: none;
        color: #0072C6;
        font-size: 1.5rem;
        padding-left: 43px;
        position: relative;
        margin-top: 10px;
    }
    .help-text-link-message:before {
        background: url("/Content/images/icons/icon_info.png") no-repeat;
        position: absolute;
        left: 6px;
        content: "\00a0";
        display: block;
        width: 32px;
        height: 32px;
    }

    .help-text-link {
        font-size: 1.5rem;

    }