.selected-service {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1px;
    margin-bottom: 20px;
}
.service-header {
    font-weight: bold; 
    text-align: center; 
    background-color: #0072C6; 
    padding: 1.25rem 2rem; 
    color: white; 
}
.service-name {
    font-weight: bold; 
}
.service-address {
    line-height: 1.5rem;
}