@model  NHS111.Models.Models.Web.OutcomeViewModel

@using (Html.BeginForm("ServiceList", "Outcome", FormMethod.Post, new { id = "other-services-form" }))
{
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel")
    @Html.Partial("_CommonHiddenFieldsRecommendedServiceViewModel", Model.RecommendedService, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() {HtmlFieldPrefix = "FindService.RecommendedService" } } )
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel")
    <hr/>
    <div class="measure">
        <h2>Other services that can help</h2>
        <p>
            If you do not want to use the recommended service, see
            <button class="button--link" id="other-services" type="submit" value="OtherServices" name="OtherServices" data-event-trigger="click" data-event-value="other services selected" formnovalidate>other things you can do</button>.
        </p>
    </div>
}