<details>
    <summary data-event-trigger="click" data-event-value="Why services">
        <span class="details__arrow" role="presentation"></span><span class="summary" id="whyTheseServices">Why are these services recommended</span>
    </summary>
    <div>
        <p>We show you nearby services that are open now, or will be within the time you've been advised to get help.</p>
    </div>
</details>