@using System.Web.Mvc.Html
@{ Layout = "~/Views/Shared/_LayoutNhsUkSiteStyle.cshtml"; }
@section Title {
    This service is now closed
}

<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">
        This service is now closed
    </h1>

    <p class="nhsuk-u-margin-bottom-8"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" data-event-trigger="click" data-event-value="SMS Closed: Link to NHS.UK">Get the latest NHS information and advice about coronavirus (COVID-19) on NHS.UK.</a></p>
</div>