@using System.Web.Mvc.Html
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<SendSmsOutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUkSiteStyle.cshtml";
}
@section Title {
    You're signed up
}

<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">
        You're signed up
    </h1>
    <p>You should get your first text within 24 hours.</p>
    <p>The text messages will come from: +44 7860 098784.</p>
    <p>You can save this number to your contacts so you know who the texts are from.</p>
    <div class="nhsuk-inset-text nhsuk-u-margin-top-6">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
            The text message service does not provide medical help. If you feel unable to cope with your symptoms, use <a href="/">111 online</a> again.
        </p>
    </div>
    <p>
        You can opt out of text messaging at any time by replying STOP.
    </p>
    
    <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
        <h2>Other things you can do on NHS.UK</h2>
        <p>NHS.UK has information to help if you have symptoms.</p>
        <p>You can find out:</p>
        <ul>
            <li>
                <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/staying-at-home-if-you-or-someone-you-live-with-has-coronavirus-symptoms/" data-event-trigger="click" data-event-value="NHS.UK isolation link">how long to isolate for</a> if you or someone you live with has symptoms
            </li>
            <li>
                <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/" data-event-trigger="click" data-event-value="NHS.UK symptoms at home link">how to manage your symptoms at home</a> and what to do if you feel worse
            </li>
        </ul>
        <p>You can also:</p>

        <ul>
            <li>
                <a href="https://111.nhs.uk/isolation-note" data-event-trigger="click" data-event-value="NHS.UK Isolation Note link">get an isolation note</a> (like a sick note) to give to your employer if you need time off work
            </li>
            <li>
                help the NHS plan its response to coronavirus by <a href="https://www.nhs.uk/coronavirus-status-checker" data-event-trigger="click" data-event-value="NHS.UK status checker link">telling us about your current experience of the virus</a>
            </li>
        </ul>
        <p><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" data-event-trigger="click" data-event-value="NHS.UK Coronavirus Hub">Go to NHS.UK for more coronavirus information and services</a></p>
    </div>
</div>