.results-map  {
  @include clearfix;

  .service-list-content {
    padding: 10px 10px 0 10px;
    max-width: 45.8333333333rem;
  }

  @media screen and (min-width: 40em) {
    .service-list-content {
      max-width: none;
    }
  }

  .service-list-content:not(:last-child)  {
    border-bottom: 1px solid #888;
    padding-bottom: 20px;
  }

  .service-list-content a {
    margin-top: 10px;
    display: inline-block;
  }

  .service-map {
    width: 100%;
    height: 400px;
  }

  .service-map * + *  {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    all: unset;
  }

  .results-map {
    display: inline-block;
    width: 100%;
  }

  .service-list-header {
    margin: 30px 0;
  }

  .service-list-header h2 {
    font-size: 36px;
    line-height: 40px;
  }

  @media screen and (min-width: 40em) {
    .service-list-header h2 {
      font-size: 40px;
      line-height: 44px;
    }
  }

  .results-service-recommended {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eef6eb;
  }

  .results-service-recommended h3 {
    margin: 10px;
  }

  .results-list h3 {
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 40em) {
    .results-list h3 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .sub-header {
    background-color: #003087;
    color: white;
    font-size: 120%;
    padding-bottom: 30px;
  }

  .sub-header div {
    margin: 0 auto;
    width: 75%;
  }

  .sub-header h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 44px;
  }

  .button:hover, .button:focus{
    color: #000;
    background-color: #768692;
  }

  @media (max-width: 640px) {
    .button-next {
      background-position: 98% 60%;
    }

    .button {
      padding: 0 2rem;
    }

    .sub-header {
      padding-bottom: 30px;
    }

    .sub-header h2 {
      padding-top: 30px;
      font-size: 36px;
      line-height: 40px;
    }

    .service-list-header h2 {
      font-size: 36px;
      line-height: 40px;;
    }

  }

  @media (min-width: 730px) {
    .results-list {
      width: 45%;
      float: left;
    }

    .service-map {
      width: 55%;
      height: 600px;
      float: left;
    }

    .results-list {
      box-shadow: 10px 0 5px -2px #888;
      -webkit-box-shadow: 5px 0 5px -2px #888;
      position: relative;
      z-index: 1;
      min-height: 600px;
    }
  }

}
