@media (min-width: 600px) {
  .cards {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    margin-top: 0;
  }

  .card:nth-child(2) {
    -ms-grid-column: 2;
  }
}

.card {
  background: #fff;
  border: 2px solid #f0f3f5;
  border-left: 8px solid #f0f3f5;
  padding: 20px 10px;
  margin: 0;
  margin-top: 10px;

  h3 {
    @include bold-font(20);
  }

  p {
    @include core-font(16);

    color: $grey-1;
  }

  a {
    @include core-font(20);
  }

  * + * {
    margin-top: 16px;
  }
}

p.card__details {
  color: $black;
  font-weight: 600;
}
