@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    ViewBag.Title = "RecommendedServiceNotOffered";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/recommendedservicenotoffered/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Recommended service not offered'
            }];
    </script>
}
@section Title { NHS 111 - Recommended Service }
@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.RepeatPrescriptionNotOffered, Model) })
}
<div class="callout callout--attention measure nhsuk-u-margin-bottom-4">
    <h1 class="h2">
        Find a pharmacy near you
    </h1>
    <p>
        We're not able to show you a recommended service.
    </p>
    <p>
        A pharmacist can help if you can't get in touch with your GP.
    </p>

    @Html.Partial("_ActionLink", new ActionLinkViewModel() { Text = "Find a pharmacy", Url = "https://www.nhs.uk/service-search/Pharmacy/LocationSearch/10" })

</div>
