@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {NHS 111 Online - Ask NHS}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Ask NHS',
                'virtualPageTitle': 'Ask NHS'
            }
        ];
    </script>
}
<div class="measure">

    <div class="content-block">

        <h1 class="heading--large">Get help from 111 online</h1>
        <p>Download a free app, answer questions about your symptoms and find out what to do next.</p>
        <p>This service is for people aged 18 and over.</p>
        <p>If you don’t want to use the app now, call 111 for health advice.</p>

        <div class="callout callout--info">
            <div class="app-panel clearfix">
                <img class="app-panel__thumbnail" src="/images/app-panel/ask_nhs_app_icon.png" />
                <div class="app-panel__details">
                    <h2>Ask NHS</h2>
                    <ul class="app-panel__description">
                        <li>Sensely Corporation</li>
                        <li>Cost: Free</li>
                    </ul>
                    <a class="app-store" title="Google Play Store" href="https://play.google.com/store/apps/details?id=air.com.sensely.asknhs&hl=en"><img alt="Get it on Google Play" src="/images/app-panel/google_play_badge.png" height="48" /></a>
                    <a class="app-store" title="Apple App Store" href="https://itunes.apple.com/gb/app/ask-nhs/id1222121280?mt=8"><img alt="Download on the iOS App Store" src="/images/app-panel/app_store_badge_US-UK_135x40.svg" height="48" /></a>
                </div>
            </div>
        </div>
    </div>

</div>