@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<LocationViewModel>
@section Title {NHS 111 Online}

@{ ViewBag.Description = "Answer questions about your main symptom on 111.nhs.uk and get NHS medical help near you."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Home',
                'virtualPageTitle': 'Home'
            }];
    </script>
}

<h1 class="heading--large">Get medical help near you</h1>
<ol>
    <li>Answer questions on this site about your main symptom.</li>
    <li>Get advice on where and when to get help, or get a call from a nurse.</li>
    <li>Find out what to do if you can’t see your usual doctor or dentist.</li>
</ol>

<div class="callout callout--info measure">
    <p>You can read general information on <a href="https://www.nhs.uk/conditions/">health problems</a> (like <a href="https://www.nhs.uk/conditions/high-blood-pressure-hypertension/">high blood pressure</a>), or about <a href="https://www.nhs.uk/live-well/healthy-body/out-of-hours-medicines/">emergency prescriptions</a> and <a href="https://www.nhs.uk/medicines/">medicines</a> on <a href="https://www.nhs.uk">NHS.UK</a>.</p>
</div>

@using (Html.BeginForm("Location", "Location", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SessionId)
    @Html.HiddenFor(m => m.Campaign)
    @Html.HiddenFor(m => m.FilterServices)
    <button type="submit" class="button--next">Start</button>
}

<hr />

<p>Always follow any medical advice you’ve already been given by your doctor. See our @(Html.ActionLink("terms", "Terms", "Help", null, new { target = "_blank" })).</p>