﻿@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<JourneyViewModel>
@section Title {NHS 111 online}
@section EmergencyAlert{}

@{ ViewBag.Description = "Answer questions about your main symptom on 111.nhs.uk and get NHS medical help near you."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Home',
                'virtualPageTitle': 'Home'
            }];
    </script>
}

<h1 class="heading--large">Get medical help near you</h1>
<ol>
    <li>Answer questions about your main symptom.</li>
    <li>Find out when and where to get help.</li>
    <li>Be contacted by a nurse, if needed.</li>
</ol>

<div class="callout callout--info measure">
    <p>If you think you know what might be wrong, you can find advice on <a href="https://www.nhs.uk/conditions/" data-event-trigger="click" data-event-value="NHS.UK Conditions">health problems</a> on <a href="https://www.nhs.uk">NHS.UK</a>.</p>
    <p>If you’ve run out of your prescribed medicines, find out how to get an <a href="/emergency-prescription" data-event-trigger="click" data-event-value="Emergency prescription deeplink">emergency prescription</a>.</p>
</div>

@using (Html.BeginForm("Location", "Location", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SessionId)
    @Html.HiddenFor(m => m.Campaign)
    @Html.HiddenFor(m => m.FilterServices)
    <button type="submit" class="button--next">Start</button>
}

<hr />

<p class="measure">Always follow any medical advice you’ve already been given by your doctor. See our @(Html.ActionLink("terms", "Terms", "Help", null, new { target = "_blank" })).</p>