<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings file="..\..\..\nhs111-shared-resources\shared.debug.config">-->
  <appSettings file="..\..\..\nhs111-shared-resources\shared.debug.config">
    <add key="FeedbackUrl" value="http://localhost:50139/"/>
    <add key="FeedbackAuthorization" value="Basic Temp"/>
  </appSettings>
</configuration>