@using NHS111.Models.Models.Web.Elements

@{
    var otherLanguageHelp = "<h4>If reading English is hard for you</h4>" + 
        "<p>Call 111. The 111 phone service can get an interpreter to help you.</p>" +
        "<h4>If speaking in English is hard for you</h4>" +
        "<p>You can ask for an interpreter if you're told to book a call back from a nurse.</p>" +
        "<p>If you need to contact other services, like a hospital or a GP surgery, interpreter help will usually be available.</p>";
}

@Html.Partial("_LinkSummary", new LinkSummaryViewModel
{
    Link = "Get help in another language",
    Summary = otherLanguageHelp,
    ID = "help-other-language-summary",
    RequiresClickAudit = true
})
