@using System.Web.Mvc.Html
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<SendSmsOutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUkSiteStyle.cshtml";
}
@section Title {
    You're signed up
}

<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">
        You're signed up
    </h1>
    <p class="lede">You should get your first text within 24 hours.</p>
    <div class="callout callout--info callout--lite nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
        <p>
            The text message service does not provide medical help. If you feel unable to cope with your symptoms, use 111 online again.
        </p>
    </div>
    <p>
        You can opt out of text messaging at any time by replying 'STOP'
    </p>
</div>