@using System.Web.Mvc.Html
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<SendSmsOutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUkSiteStyle.cshtml";
}
@section Title {
    You're signed up
}

<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">
        You're signed up
    </h1>
    <p>You should get your first text within 24 hours.</p>
    <p>The text messages will come from: +44 7860 098784.</p>
    <p>You can save this number to your contacts so you know who the texts are from.</p>
    <div class="nhsuk-inset-text nhsuk-u-margin-top-6">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
            The text message service does not provide medical help. If you feel unable to cope with your symptoms, use <a href="/">111 online</a> again.
        </p>
    </div>
    <p>
        You can opt out of text messaging at any time by replying 'STOP'.
    </p>
    
    <div class="nhsuk-panel nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
        <h2>What to do next</h2>
        <h3>Help the NHS respond to coronavirus</h3>
        <p>
            Take the quick NHS survey to tell us about your experience of the virus. This will help the NHS plan its response to coronavirus by showing where the virus is spreading and how it affects people.
        </p>
        <p>
            <a href="https://www.nhs.uk/coronavirus-status-checker" target="_blank" data-event-trigger="click" data-event-value="NHS.UK status checker link">Take the survey</a>
        </p>

        <h3>Get an isolation note to give to your employer</h3>
        <p>
            You can send an isolation note to your employer as proof you need to stay off work because of coronavirus.
        </p>
        <p>You do not need to get a note from a GP.</p>

        <p>
            <a href="https://111.nhs.uk/isolation-note" target="_blank" data-event-trigger="click" data-event-value="NHS.UK Isolation Note link">Get an isolation note</a>
        </p>
        
        <hr />
        <p>Or you can <a href="/covid-19/stayathome">read advice on how long to isolate.</a></p>
    </div>
</div>