@model NHS111.Models.Models.Web.AccidentAndEmergencyServiceUnavailableReferralResultViewModel

<h1>Sorry, there’s a problem with the service</h1>
<p>We could not pass on your details to the nurse.</p>
<p>Call 111 for advice on what to do next.</p>
<p>If you don’t want to call 111, you can go to the nearest A&amp;E (accident and emergency department).</p>
