@model NHS111.Models.Models.Web.AccidentAndEmergencyDuplicateReferralResultViewModel

<h1>Your call has already been booked</h1>
<p>If you did not get a call within <strong>@WebUtility.HtmlDecode(Model.OutcomeModel.WaitTimeText)</strong>, or you've got worse, go to the nearest <a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">A&amp;E (accident and emergency department)</a>.</p>
