@model NHS111.Models.Models.Web.AccidentAndEmergencyReferralFailureResultViewModel

<h1>Sorry, there's a problem with the service</h1>
<p>We could not pass on your details to the nurse.</p>
<p>You should go to the nearest <a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">A&amp;E (accident and emergency department)</a>.</p>
