@model NHS111.Models.Models.Web.AccidentAndEmergencyDuplicateReferralResultViewModel

<h1>Your call has already been booked</h1>
<p>If you did not get a call within 30 minutes, or you've got worse, call 111.</p>
