@model NHS111.Models.Models.Web.ServiceUnavailableReferralResultViewModel

<h1>Sorry the service you selected is no longer available</h1>
<p>We could not pass on your details to the nurse.</p>
<p>You should go to the nearest <a href="https://www.nhs.uk/service-search/Urgent-Care/LocationSearch/0">A&amp;E (accident and emergency department)</a>.</p>
<p>If you can't get to A&amp;E call 111 for advice.</p>