<div class="nhsuk-core">
    <div class="measure">
        <h2>Before you get help</h2>
    </div>
    <div class="measure">
    </div>
    <div class="other-services">
        <details class="service-listing">
            <summary>
                <span class="service-listing__toggle--hide">Hide</span>
                <span class="service-listing__toggle--show">Show</span>
            </summary>
            <div>
                <p>If you think you might report the assault to the police:</p>

                <ul>
                    <li>cover any cuts, but don't wash them</li>
                    <li>keep the clothes you were wearing and don't wash them</li>
                    <li>don't brush your teeth</li>
                    <li>if you have brushed your teeth and used chewing gum, save that</li>
                </ul>
            </div>
            <div class="callout callout--attention">
                <p>
                    Call 999 to report it to the police.  GOV.UK has information on what happens when you <a href=""><b><u>report a rape or sexual assault.</u></b></a>
                </p>
            </div>
        </details>
    </div>
</div>