@model NHS111.Models.Models.Web.Call999ReferralConfirmationResultViewModel
    
<h1 class="local-header__title">You should get a call within 30 minutes.</h1>
<div class="local-header__intro">
    <p>Emergency services might be sent to check you're ok if we can't speak to you in that time. If your symptoms get worse call 999.</p>
</div>
