<div class="callout callout--alert">
    <h2 class="heading-medium">This is a test service</h2>
    <p>
        <strong>If you need medical advice visit <a href="http://www.nhs.uk">www.nhs.uk</a> or call 111.</strong>
    </p>
    <p>If you're testing DOS results for a future date or time, the wording around "today/tomorrow" and the timings shown should be ignored.</p>
</div>