<h1>A call has already been requested for you</h1>
<p>If you've already had a call, please close this page</p>
<p>If you haven't had a call within the time suggested, or the symptoms have got worse, you should @Html.ActionLink("start again", "InitialQuestion", "Question") or call 111</p>