<style>
    .global-header {
        border: 0;
    }
</style>

<div class="nhsuk-core">
    <div class="nhsuk-global-alert" id="nhsuk-global-alert">
        <div class="nhsuk-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-global-alert__content">
                        <p>
                            <strong>Call NHS 111</strong> if you’ve been in mainland China, Hong Kong, Japan, Macau, Malaysia, Republic of Korea, Singapore, Taiwan, or Thailand and have a cough, high temperature or shortness of breath within 2 weeks of returning.
                            Or if you have a cough, high temperature or shortness of breath after being in contact with someone with a <strong>confirmed</strong> case of coronavirus.
                        </p>

                        <p>You can <a data-event-trigger="click" data-event-value="Novel Coronavirus" href="https://www.nhs.uk/conditions/wuhan-novel-coronavirus/">read more about coronavirus on NHS.UK</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
