<style>
    .global-header {
        border: 0;
    }
</style>

<div class="nhsuk-core">
    <div class="nhsuk-global-alert" id="nhsuk-global-alert">
        <div class="nhsuk-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-global-alert__content measure">
                        <p>Call NHS 111 if:</p>
                        <ul>
                            <li>you’ve been to mainland China and have become unwell within 2 weeks of returning</li>
                            <li>you feel unwell after being in contact with someone with a <strong>confirmed</strong> case of coronavirus</li>
                        </ul>
                        <p>You can <a data-event-trigger="click" data-event-value="coronavirus-link-to-nhs.uk"
                            href="https://www.nhs.uk/">read more about coronavirus on NHS.UK.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
