<style>
    .global-header {
        border: 0;
    }
</style>

<div class="nhsuk-core">
    <div class="nhsuk-global-alert" id="nhsuk-global-alert">
        <div class="nhsuk-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-global-alert__content">
                        <p>
                            Call NHS 111 for advice if you’ve travelled overseas in the past 14 days, and are worried about coronavirus (COVID-19) symptoms.
                        </p>
                        <p>
                            Read <a data-event-trigger="click" data-event-value="Novel Coronavirus" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">information on coronavirus (COVID-19) on NHS.UK</a>.  
                            Learn about <a data-event-trigger="click" data-event-value="GOV.UK Novel Coronavirus" href="https://www.gov.uk/guidance/wuhan-novel-coronavirus-information-for-the-public">the government response on GOV.UK</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
