<div class="callout callout--info">
    <p>On <a href="https://nhs.uk">NHS.UK</a> you can:</p>
    <ul>
        <li>
            find out how to get an <a href="https://www.nhs.uk/chq/Pages/1011.aspx?CategoryID=73" data-event-trigger="click" data-event-value="NHS.UK Emergency prescription">emergency prescription</a>
        </li>
        <li>
            read more about <a href="https://www.nhs.uk/medicines/" data-event-trigger="click" data-event-value="NHS.UK Medicines">medicines</a>
        </li>
        <li>
            get information on a <a href="https://www.nhs.uk/conditions/"  data-event-trigger="click" data-event-value="NHS.UK Conditions">health problem or condition</a>
        </li>
        <li>
            look up <a href="https://www.nhs.uk/service-search"  data-event-trigger="click" data-event-value="NHS.UK Service search">opening times and addresses</a> for NHS services
        </li>
    </ul>
</div>