@model NHS111.Models.Models.Domain.Feedback
@{ Model.DateAdded = DateTime.Now; }

<style>
    .feedback-submit {
        background: none repeat scroll 0 0 #8c3433;
        border-radius: 5px;
        box-shadow: 0 2px 0 #7c2a26;
        font-size: 20px;
        padding: 14px 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        width: 235px;
    }
    .feedback-input {
        border: 0 none;
        border-radius: 3px;
        padding: 15px 10px;
        width: 94%;
        font-size: 18px !important;
    }
    .feedback-form {
        text-align: center;
    }
</style>

<form id="FeedbackForm" class="feedback-form" action="@Url.Action("SubmitFeedback", "Feedback")">

    <h2 class="font-med" style="color:white">Help us improve 111 online</h2>
    <p>Please don’t include personal information.</p>
    <div id="FeedbackDetails">
        <div class="row large" style="margin-top: 20px;">
            <label>
                <span>Feedback</span><br />
                @Html.TextAreaFor(m => m.Text, new { @placeholder = "Feedback", @Value = "", @class = "feedback-input", style = "width:400px;" })
            </label>
        </div>
        <div class="row small">
            <input class="button feedback-submit" id="btnFeedback" type="button" name="btnFeedback" value="Submit Feedback" onclick=" SubmitFeedback(this); " />
        </div>
    </div>
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.PageId)
</form>

<script>

    $(document).ready(function () {
        var $userId = $("#UserId");
        $userId.val($.cookie("userId"));
    });

    function SubmitFeedback(btnClicked) {
        var $form = $(btnClicked).parents('form');
        var detailsDiv = $('#FeedbackDetails');
        $(detailsDiv).slideToggle(600);
        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                alert(error);
                $(detailsDiv).slideToggle(600);
                //do something about the error
            },
            success: function (response) {
                $(detailsDiv).html(response.Message);
                $(detailsDiv).slideToggle(600);
            }
        });

        return false;
    }

</script>