<div class="callout callout--lite callout--warning measure">
    <p>
        It's possible you have COVID-19 but you also need help for your other symptoms.
    </p>
    <p>
        You <b>must</b> tell whoever you speak to that you might have coronavirus and follow their instructions.
    </p>
    <p>
        This might mean getting tested first, or being seen in a different way than usual.
    </p>
</div>
