@using NHS111.Models.Models.Web.Elements
<h2 class="nhsuk-heading-l">
    Help the NHS
</h2>
<p>
    Tell us about your experience so we can plan how to respond to the spread of coronavirus.
</p>
<p style="font-size: 16px;">Link opens in a new tab or window</p>
<p>
    @Html.Partial("_ActionLink", new ActionLinkViewModel { Text = "Take our survey", Url = "https://www.nhs.uk/coronavirus-status-checker", EventTrigger = "click", EventValue = "NHS.UK status checker link", Target = "_blank" })
</p>

