@using NHS111.Models.Models.Web.Elements
<h2 class="nhsuk-heading-l">
    Get text messages from the NHS about coronavirus
</h2>
<p>
    By signing up you will also help the NHS understand more about the virus, and how it affects people.
</p>

<p style="font-size: 16px;">Link opens in a new tab or window</p>
<p>
    @Html.Partial("_ActionLink", new ActionLinkViewModel { Text = "Sign up", Url = "/covid-19/sms", EventTrigger = "click", EventValue = "SMS text messging link", Target="_blank" })
</p>

