@using NHS111.Models.Models.Web.Elements
<h2 class="nhsuk-heading-l">
     Help the NHS respond to coronavirus
</h2>
<p>
    Use the quick<a href="https://www.nhs.uk/coronavirus-status-checker" target="_blank" data-event-trigger="click" data-event-value="NHS.UK status checker link"> NHS coronavirus status checker </a>to tell us about your current experience of the virus. This will help the NHS plan its response to coronavirus by showing where the virus is spreading and how it affects people.
</p>
<p style="font-size: 16px;">Link opens in a new tab or window</p>
<p>
    @Html.Partial("_ActionLink", new ActionLinkViewModel { Text = "Take part", Url = "https://www.nhs.uk/coronavirus-status-checker", EventTrigger = "click", EventValue = "NHS.UK status checker link", Target = "_blank" })
</p>

