@{
    Layout = null;
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    .service-map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>


<div class="service-map" role="presentation"></div>


<script src="/Scripts/geotools.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv3YwvmRoueyoLcW2iiSPjVeHecU18hmA" type="text/javascript"></script>
<script type="text/javascript">
    function getQueryString() {
        var result = {}, queryString = location.search.slice(1),
            re = /([^&=]+)=([^&]*)/g, m;

        while (m = re.exec(queryString)) {
            result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }

        return result;
    }

    var map;
    var services = JSON.parse(getQueryString()['services'])
    var infowindow = []
    var markers = []

    function initialise() {
        var bounds = new google.maps.LatLngBounds()

        for (var i = 0; i < services.length; i++) {
            var service = services[i]
            var latlng = OsGridRef.osGridToLatLon(new OsGridRef(service.Eastings, service.Northings), LatLon.datum.OSGB36)
            service.lat = latlng.lat
            service.lng = latlng.lon
            bounds.extend(new google.maps.LatLng(latlng.lat, latlng.lon))
        }

        map = new google.maps.Map(document.querySelector('.service-map'), {
            zoom: 12,
            minZoom: 8,
            center: bounds.getCenter()
        });

        map.fitBounds(bounds)
        map.panToBounds(bounds)
        map.setZoom(12)

        for (let i = 0; i < services.length; i++) {
            addMarker(i, map);
        }

    }

    // Adds a marker to the map.
    function addMarker(index, map) {
        console.log('index', index)
        markers[index] = new google.maps.Marker({
            position: services[index],
            label: (index + 1).toString(),
            map: map
        });


        infowindow[index] = new google.maps.InfoWindow({
            content: "<h2 data-index='" + index + "'>" + services[index].Name + "</h2>"
        });

        markers[index].addListener('click', function () {
            setActive(index)
            window.parent.setActive(index)
        });
    }

    function setActive(index) {
        for (let i = 0; i < infowindow.length; i++) {
            infowindow[i].close()
        }
        infowindow[index].open(map, markers[index])
    }

    google.maps.event.addDomListener(window, 'load', initialise);

</script>