@model NHS111.Models.Models.Web.Elements.LinkSummaryViewModel

<details role="group">
    <summary>
        <span class="details__arrow"></span>
        <span class="summary">@Model.Link</span>
    </summary>
    <div>
        @Html.Raw(Model.Summary)
    </div>
</details>
