@model NHS111.Models.Models.Web.OutcomeViewModel

@{
    var outcomeHeader = ViewData.ContainsKey("OutcomeHeader") ? ViewData["OutcomeHeader"] : (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
}
<section>
    <div class="local-header">
        <h1 class="heading-large local-header__title">@Html.Raw(Model.DispositionUrgencyTitle)</h1>
        <div class="local-header__intro">
            <h2 class="heading-small">@Html.Raw(outcomeHeader)</h2>
        </div>
    </div>
</section>
