@model NHS111.Models.Models.Web.OutcomeViewModel


<div class="sub-header">
    <div>
        <h2 style="margin-bottom: 25px; font-size: 1.6em;">@Html.Raw((!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : ViewData["DefaultTitle"]))</h2>
    </div>
</div>
