@inherits NHS111.Web.Views.Shared.UserZoomView<NHS111.Models.Models.Web.OutcomeViewModel>

@{
    var outcomeHeader = ViewData.ContainsKey("OutcomeHeader") ? ViewData["OutcomeHeader"] : (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
}
<section>
    <div class="outcome-header">
        <h2 class="heading-large">@Html.Raw(outcomeHeader)</h2>
    </div>
</section>
@if (UserZoomSurveyFeature.IsEnabled)
{
    <script>
        @{
            var urlForUserZoom = "";
            
            if (Model != null)
            {
                var outcomeGroup = Model.OutcomeGroup == null ? "NoGroup" : Url.Encode(Model.OutcomeGroup.Text);
                urlForUserZoom = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), outcomeGroup, Url.Encode(Model.Id));
            }
        }

        $(document).ready(function () {
            uztracker('send', 'page', {
                'url': document.location.pathname + '@urlForUserZoom',
                'title': '@outcomeHeader'
            }, false);
        });
    </script>
}