@model NHS111.Models.Models.Web.OutcomeViewModel

@{ var outcomeHeader = (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle()); }
<div class="sub-header">
    <div>
        <h2>@Html.Raw(outcomeHeader)</h2>
    </div>
</div>
