@using NHS111.Models.Models.Web
@model  OutcomeViewModel

@{
    var services = Model.DosCheckCapacitySummaryResult.Success.Services;
}

@if (services.Any(s => !s.CallbackEnabled && !string.IsNullOrEmpty(s.ContactDetails)))
{
    string title;
    if (ViewData.Keys.Contains("PhoneTitle"))
    {
        title = ViewData["PhoneTitle"] as string;
    }
    else
    {
        var serviceCount = services.Count(s => !s.CallbackEnabled && !string.IsNullOrEmpty(s.ContactDetails));
        title = serviceCount > 1 ? "There are " + serviceCount + " places you can phone" : "There is 1 place you can phone";
    }
    <details>
        <summary>
            <span>Phone a service</span>
        </summary>
        @if (Model.Id == "Dx08" && Model.UserInfo.CurrentAddress.IsPostcodeFirst)
        {
            <section class="callout callout--info">
                <div class="reading-width">
                    <p>You may not speak to your usual GP. Make sure you tell them about any medicines you take.</p>
                </div>
            </section>
        }
        <div>
            <div class="cards">
                @foreach (var service in services.Where(s => !s.CallbackEnabled && !string.IsNullOrEmpty(s.ContactDetails)))
                {
                    <div class="card">
                        <h3>@WebUtility.HtmlDecode(service.Name)</h3>
                        <p class="card__details">@WebUtility.HtmlDecode(service.ServiceOpeningTimesMessage)</p>
                        <hr />
                        <p><a href="tel: @service.ContactDetails">Phone @service.ContactDetails</a></p>
                    </div>
                }
            </div>
        </div>
    </details>
}

