<div id="recommendedSurveyFeedback" style="border-top-color: rgb(255,225,163); border-top-width: 3px; border-top-style: solid; padding: 5px; left: 0; right:0;">
    <p id="surveyLink">Help us improve. <a>Will you use the recommended service?</a></p>
</div>


<script>
    $(document).ready(function () {
        function getNextQuestion(id) {
            $.ajax({
                type: "GET",
                url: url,
                success: success,
            });
        }
        
    });
</script>