@model NHS111.Models.Models.Web.ReferralFailureResultViewModel
    
<h1>Sorry, your request for a callback has not been successful.</h1>
<p>The problem has been reported and we're working to fix it.</p>
<p>Please call NHS 111 now for advice. We may ask for your details again so that we can help you.</p>
