@using NHS111.Models.Models.Web
@model OutcomeViewModel


@{
    var timingText = "";
    switch (Model.Id)
    {
        case "Dx05":
            timingText = "Get help now";
            break;
        case "Dx06":
            timingText = "Get help as soon as you can, today";
            break;
        case "Dx07":
            timingText = "Get help today";
            break;
        case "Dx08":
            timingText = "Get help today or tomorrow";
            break;
        case "Dx11":
            timingText = "Get help now";
            break;
        case "Dx12":
            timingText = "Get help now";
            break;
        case "Dx13":
            timingText = "Get help as soon as you can, today";
            break;
        case "Dx14":
            timingText = "Get help today";
            break;
        case "Dx15":
            timingText = "Get help today or tomorrow";
            break;
    }
}

@if (!string.IsNullOrEmpty(timingText)) {
    <div class="callout callout--lite callout--warning nhsuk-u-margin-bottom-4">
        <p>@timingText</p>
    </div>
}