@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@if (Model.Any())
{
    <details class="measure care-advice">
        <summary><span class="details__arrow" role="presentation"></span>Things to look out for and self-care</summary>
        <div>
            @foreach (var careAdvice in Model)
            {
                if (careAdvice.Items != null && careAdvice.Items.Any())
                {
                    <div>
                        <h2 id="Advice_@careAdvice.Id" class="nhsuk-heading-m">@careAdvice.Keyword</h2>
                        @foreach (var parent in careAdvice.Items)
                        {
                            <p>
                                @parent.Text
                            </p>
                            if (parent.Items != null && parent.Items.Any())
                            {
                                if (parent.Items.Any())
                                 {
                                    <ul>
                                         @foreach (var child in parent.Items)
                                          {
                                              <li>@child.Text</li>
                                          }
                                    </ul>
                                 }
                            }

                        }
                        @Html.Hidden(careAdvice.Id)
                    </div>
                }
            }
        </div>
    </details>
}
