@using NHS111.Models.Models.Web
@model OutcomeViewModel

    <div class="measure">
        <h1>Where to get help</h1>

    </div>
@if (!Model.DosCheckCapacitySummaryResult.ResultListEmpty)
{
    var recommendedService = Model.DosCheckCapacitySummaryResult.Success.RecommendedService;
    var partial = "";
    if (recommendedService.ServiceType.Id == 25) { partial = "_rs_service_callback";}
    if (recommendedService.ServiceType.Id == 13) { partial = "_rs_PhysicalLocationAppointmentType"; }
    if (recommendedService.ServiceType.Id == 40) { partial = "_rs_PhysicalLocationAppointmentType"; }
    <div>
        @Html.Partial(partial, Model)
    </div>
}