@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}

    <div class="service-details nhsuk-u-margin-bottom-4">
        <p class="service-details__name">
            @WebUtility.HtmlDecode(recommendedService.PublicName)
        </p>
        <p class="service-details__phone">
            <a href="tel:@recommendedService.ContactDetails">Call @recommendedService.ContactDetails</a>
        </p>
        @Html.Partial("_DeafReassurance")
        <div class="service-details__hours">
            @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
        </div>
    </div>