@using NHS111.Models.Models.Web
@model List<NHS111.Models.Models.Web.ServiceViewModel>

    <div class="measure">
        <h1>Where to get help</h1>

    </div>
@if (Model.Count > 0)
{
    <div>
        @Html.Partial(new ServiceTypeMapping(Model.First().OnlineDOSServiceType).TypeViewName, Model.First())
    </div>
}