@using Newtonsoft.Json
@using NHS111.Models.Models.Web
@model  OutcomeViewModel
@{
    var recommendedService = Model.RecommendedService;
}

<div class="service-details nhsuk-u-margin-bottom-6">
    <p class="service-details__address">
        @WebUtility.HtmlDecode(recommendedService.PublicName), @WebUtility.HtmlDecode(recommendedService.Address)
    </p>
    <p class="service-details__phone">
        Call @recommendedService.ContactDetails
    </p>
    
    @Html.Partial("_ServiceOpeningTimes", recommendedService, ViewData)
</div>