@if (Model.DisplayWorseningCareAdvice)
{
    <div class="content-seperator content-seperator--equalvertspacing--large"></div>
    <div class="measure">
        <div class="callout callout--info">
            <p>
                If your symptoms get worse, call 111
            </p>
        </div>
    </div>
}
