@model NHS111.Models.Models.Web.FromExternalServices.CheckCapacitySummaryResult
    
<div style="font-weight: bold; font-size: 1.25rem; padding: 1.5rem 0 0 0.75rem;">@Model.NameField</div>
<div style="font-size: 1.0rem; font-weight: lighter; line-height: 1.5rem; padding: 0 0 0 0.75rem;">
    @Model.AddressField
</div>
