@model NHS111.Models.Models.Web.ServiceViewModel

<h2 class="heading-small">@WebUtility.HtmlDecode(Model.Name)</h2>
<p>@WebUtility.HtmlDecode(Model.Address)</p>
<p>@WebUtility.HtmlDecode(Model.CurrentStatus)</p>

@Html.HiddenFor(m => m.Id)
