@model NHS111.Models.Models.Web.ServiceViewModel

<h3>@WebUtility.HtmlDecode(Model.Name)</h3>
<p>@WebUtility.HtmlDecode(Model.Address)</p>
<p>@WebUtility.HtmlDecode(Model.CurrentStatus)</p>

@Html.HiddenFor(m => m.Id)
