@using NHS111.Models.Models.Web
@model  OutcomeViewModel


@if (!Model.OutcomeGroup.CoronaVirusServiceListMessageBlank)
{
    @if (!Model.IsViaGuidedSelection)
    {
        @Html.Partial("_GeneralCovidAdvice")
    }
    else
    {
        <div class="callout callout--lite callout--warning measure">
            <p>
                Do not go to the service, phone them instead.
                All NHS services have updated their website, emailed or texted about how they're now offering appointments.
            </p>
        </div>
    }
}