<div class="nhsuk-core">
    <div class="measure">
        <h2>Get support and advice</h2>
    </div>
    <div class="measure">
    </div>
    <div class="other-services">
        <details class="service-listing">
            <summary>
                <span class="service-listing__toggle--hide">Hide</span>
                <span class="service-listing__toggle--show">Show</span>
            </summary>
            <div>
                <p>
                    You can speak to charities and support groups for advice about what to do.  Examples of specialist voluntary services offering
                    independent, confidential advice and support are:
                </p>
                <ul>
                    <li>
                        <a href="https://rapecrisis.org.uk"><b><u>Rape crisis</u></b></a>
                    </li>
                    <li>
                        <a href="https://www.victimsupport.org.uk/"><b><u>Victim Support</u></b></a>
                    </li>
                    <li>
                        <a href="https://www.thesurvivorstrust.org/"><b><u>The Survivors Trust</u></b></a>
                    </li>
                    <li>
                        <a href="https://www.galop.org.uk/"><b><u>Galop</u></b></a> &mdash; for LGBT communities
                    </li>
                    <li>
                        <a href="https://www.survivorsuk.org/"><b><u>Survivors UK</u></b></a> &mdash; for men
                    </li>
                </ul>
                <ul>
                 </ul>
            </div>
            <div>
                <p>
                    <a href=""><b><u>Things to look out for and self-care</u></b></a>
                </p>
            </div>
        </details>
    </div>
</div>