@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.SurveyLinkViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";

    var is999Survey = ViewData.ContainsKey("999Survey");
    var surveyText = is999Survey ? "Take a 30-second survey to help us improve" : "Take a short survey to help us improve";
    var surveyPostponeText = is999Survey ? "No thanks" : "Not now";
}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        SurveyLinkFeature.SurveyId,
        Model.JourneyId,
        Model.PathwayNo,
        Model.EndPathwayNo,
        Model.DispositionCode,
        launchPage,
        Model.PathwayTitle.ToLower(),
        Model.EndPathwayTitle,
        Model.DispositionDateTime.Date.ToString("dddd, dd MMMM yyyy"),
        Model.DispositionDateTime.ToString("HH:mm:ss"));

    <link href="~/Content/css_NhsUK/banner.css" media="screen" rel="stylesheet" type="text/css" />
    <div class="survey-banner-wrap clear">
        <div class="survey-banner-content">
            <div class="survey-invite">
                <p>@surveyText</p>
            </div>
            <ul>
                <li class="leave-feedback agree">
                    <a id="AgreeButton" href="@url" target="_blank">Yes</a>
                </li>
                <li class="go-back postpone">
                    <a id="PostponeButton">@surveyPostponeText</a>
                </li>
            </ul>
        </div>
    </div>

    <script>

        $(document)
            .ready(function () {
                if (!$.cookie("nhs111-survey-link-banner")) {
                    $(".survey-banner-wrap").show();
                }
            });

        $("#AgreeButton")
            .click(function () {
                $.cookie("nhs111-survey-link-banner", "survey-link-yes", { path: '/' });
                $(".survey-banner-wrap").hide();
            });

        $("#PostponeButton")
            .click(function () {
                $(".survey-banner-wrap").hide();
            });
    </script>
    }