@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.SurveyLinkViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";
    var serviceOptions = ViewData.ContainsKey("ServiceOptions") ? ViewData["ServiceOptions"] : Model.ServiceOptions;
    var serviceCount = ViewData.ContainsKey("ServiceCount") ? ViewData["ServiceCount"] : Model.ServiceCount;
    var guided_selection = ViewData.ContainsKey("GuidedSelection") ? ViewData["GuidedSelection"] : Model.GuidedSelection;
    bool isMicroSurvey = ViewData.ContainsKey("isMicroSurvey") ? (bool)ViewData["IsMicroSurvey"] : false;
}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        Model.SurveyId,
        Model.JourneyId,
        Model.PathwayNo,
        Model.EndPathwayNo,
        Model.DispositionCode,
        Model.DispositionDateTime.ToString("dddd"),
        Model.DigitalTitle.ToLower(),
        WebUtility.UrlEncode(Model.EndPathwayTitle),
        Model.DispositionDateTime.Date.ToString("yyyy-M-d"),
        Model.DispositionDateTime.ToString("HH:mm:ss"),
        WebUtility.UrlEncode(Model.Campaign),
        WebUtility.UrlEncode(Model.CampaignSource),
        serviceCount,
        serviceOptions,
        launchPage,
        Model.ValidationCallbackOffered.ToString().ToLower(),
        Model.DispositionDateTime.ToString("d MMMM yyyy"),
        WebUtility.UrlEncode(Model.RecommendedServiceType),
        Model.RecommendedServiceId,
        WebUtility.UrlEncode(Model.RecommendedServiceName),
        Model.DispositionChoiceReasoning,
        guided_selection,
        Model.BookPharmacyCall,
        WebUtility.UrlEncode(Model.RecommendedServiceTypeAlias)
        );
    Model.SurveyUrl = url;

    if (isMicroSurvey)
    {
        using (Html.BeginForm("SurveyInterstitial", "Outcome", new { startUrl = Model.StartUrl }, FormMethod.Post, new { target = "_blank" }))
        {
            @Html.Partial("_CommonHiddenFieldsSurveyLinkViewModel", Model, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "" } })
            <p class="nhsuk-u-margin-bottom-0">
                You can help improve the whole 111 online service by <button type="submit" class="button--link">taking our survey (opens in a new tab or window)</button>
            </p>
        }
    }
    else
    {
        <div class="notification-banner survey-banner notification-banner--hiviz">

            @using (Html.BeginForm("SurveyInterstitial", "Outcome", new { startUrl = Model.StartUrl }, FormMethod.Post, new { target = "_blank" }))
            {
                @Html.Partial("_CommonHiddenFieldsSurveyLinkViewModel", Model, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "" } })
                <p class="notification-banner--inner">
                    Help us improve by taking <button type="submit" class="button--link">a short survey (opens in a new tab or window)</button>
                </p>
            }
        </div>
    }
} 