@using System.Web.Mvc.Html
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.OutcomeViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";
    var serviceOptions = ViewData.ContainsKey("ServiceOptions") ? ViewData["ServiceOptions"] : Model.SurveyLink.ServiceOptions;
    var serviceCount = ViewData.ContainsKey("ServiceCount") ? ViewData["ServiceCount"] : Model.SurveyLink.ServiceCount;

}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        Model.SurveyLink.SurveyId,
        Model.SurveyLink.JourneyId,
        Model.SurveyLink.PathwayNo,
        Model.SurveyLink.EndPathwayNo,
        Model.SurveyLink.DispositionCode,
        Model.SurveyLink.DispositionDateTime.ToString("dddd"),
        Model.SurveyLink.DigitalTitle.ToLower(),
        Model.SurveyLink.EndPathwayTitle,
        Model.SurveyLink.DispositionDateTime.Date.ToString("yyyy-M-d"),
        Model.SurveyLink.DispositionDateTime.ToString("HH:mm:ss"),
        Model.SurveyLink.Campaign,
        Model.SurveyLink.CampaignSource,
        serviceCount,
        serviceOptions,
        launchPage,
        Model.SurveyLink.ValidationCallbackOffered.ToString().ToLower(),
        Model.SurveyLink.DispositionDateTime.ToString("d MMMM yyyy"),
        Model.SurveyLink.RecommendedServiceType,
        Model.SurveyLink.RecommendedServiceId,
        Model.SurveyLink.RecommendedServiceName,
        Model.SurveyLink.DispositionChoiceReasoning
        );

    <div class="notification-banner survey-banner notification-banner--hiviz">

        @using (Html.BeginForm("SurveyInterstitial", "Outcome", FormMethod.Post, new { target = "_blank"}))
        {
            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
            <input type="hidden" name="surveyUrl" value="@url" />
            <p class="notification-banner--inner">
                Help us improve by taking <button type="submit" class="button--link">a short survey (opens in a new tab or window)</button>
            </p>
        }
    </div>
}