@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.SurveyLinkViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";
    var serviceOptions = ViewData.ContainsKey("ServiceOptions") ? ViewData["ServiceOptions"] : Model.ServiceOptions;
    var serviceCount = ViewData.ContainsKey("ServiceCount") ? ViewData["ServiceCount"] : Model.ServiceCount;

    var recommendedService = Model.OfferedServices == null ? new ServiceViewModel() : Model.OfferedServices.First();
    var surveyId = Model.DispositionCode;
}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        Model.SurveyId,
        Model.JourneyId,
        Model.PathwayNo,
        Model.EndPathwayNo,
        Model.DispositionCode,
        Model.DispositionDateTime.ToString("dddd"),
        Model.DigitalTitle.ToLower(),
        Model.EndPathwayTitle,
        Model.DispositionDateTime.Date.ToString("yyyy-M-d"),
        Model.DispositionDateTime.ToString("HH:mm:ss"),
        Model.Campaign,
        Model.CampaignSource,
        serviceCount,
        serviceOptions,
        launchPage,
        Model.ValidationCallbackOffered.ToString().ToLower(),
        recommendedService.OnlineDOSServiceType,
        recommendedService.Id,
        recommendedService.PublicName,
        string.Join(",", Model.OfferedServices.Select(s => s.OnlineDOSServiceType)),
        string.Join(",", Model.OfferedServices.Select(s => s.Id)),
        string.Join(",", Model.OfferedServices.Select(s => s.PublicName))
        );

    <div class="notification-banner survey-banner notification-banner--hiviz">
        <p class="notification-banner--inner">
            When you’ve finished, help us improve by taking a <a href="@url" target="_blank">short survey</a>
        </p>
    </div>
}