@using Microsoft.Ajax.Utilities
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.SurveyLinkViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";
    var serviceOptions = ViewData.ContainsKey("ServiceOptions") ? ViewData["ServiceOptions"] : Model.ServiceOptions;
    var serviceCount = ViewData.ContainsKey("ServiceCount") ? ViewData["ServiceCount"] : Model.ServiceCount;

}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        Model.SurveyId,
        Model.JourneyId,
        Model.PathwayNo,
        Model.EndPathwayNo,
        Model.DispositionCode,
        Model.DispositionDateTime.ToString("dddd"),
        Model.DigitalTitle.ToLower(),
        Model.EndPathwayTitle,
        Model.DispositionDateTime.Date.ToString("yyyy-M-d"),
        Model.DispositionDateTime.ToString("HH:mm:ss"),
        Model.Campaign,
        Model.CampaignSource,
        serviceCount,
        serviceOptions,
        launchPage,
        Model.ValidationCallbackOffered.ToString().ToLower(),
        Model.DispositionDateTime.ToString("d MMMM yyyy"),
        Model.RecommendedServiceType,
        Model.RecommendedServiceId,
        Model.RecommendedServiceName
        );

    <div class="notification-banner survey-banner notification-banner--hiviz">
        <p class="notification-banner--inner">
            Help us improve by taking <a href="@url" target="_blank">a short survey on another site</a>
        </p>
    </div>
}