@model NHS111.Models.Models.Web.FromExternalServices.CheckCapacitySummaryResult[]

@if (Model != null)
{
    <ul>
        @foreach (var checkCapacitySummaryResult in Model.ToList())
        {
            <li class="surgery-item">
                <h3>@Html.Raw(checkCapacitySummaryResult.NameField)</h3>
                <div>
                    <p>@Html.Raw(checkCapacitySummaryResult.AddressField)</p>
                    @if (checkCapacitySummaryResult.ContactDetailsField != null && !checkCapacitySummaryResult.ContactDetailsField.IsEmpty())
                    {
                        <p>@Html.Raw(checkCapacitySummaryResult.ContactDetailsField)</p>
                    }
                    @if (checkCapacitySummaryResult.UrlField != null && !checkCapacitySummaryResult.UrlField.IsEmpty())
                    {
                        <p>
                            <a href="http://@Html.Raw(checkCapacitySummaryResult.UrlField)" target="_blank">@Html.Raw(checkCapacitySummaryResult.UrlField)</a>
                        </p>
                    }
                </div> 
            </li>
        }

    </ul>
}