@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@if (Model.DisplayWorseningCareAdvice)
{
    var isEmergencyOutcome = Model.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergency) || Model.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergencySexualAssault) || Model.OutcomeGroup.Equals(OutcomeGroup.EmergencyDental);
    if (!isEmergencyOutcome)
    {
        foreach (var item in Model.WorseningCareAdvice.Items)
        {
            <p class="worsening-advice-icon">@item.Text</p>
        }
    }
    else
    {
        <p class="worsening-advice-icon">If you have any new symptoms, or the condition gets worse, changes or you have any other concerns call 999.</p>
    }
}
