@using NHS111.Models.Models.Web
@model OutcomeViewModel

@if (Model.DisplayWorseningCareAdvice)
{
    if (!ViewData.Keys.Contains("OverrideText"))
    {
        foreach (var item in Model.WorseningCareAdvice.Items)
        {
            <p class="worsening-advice-icon">@item.Text</p>
        }
    }
    else
    {
        <p class="worsening-advice-icon">@Html.Raw(ViewData["OverrideText"])</p>
    }
}
