@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@if (Model.DisplayWorseningCareAdvice)
{

    foreach (var item in Model.WorseningCareAdvice.Items)
    {
        <div class="worsening-advice-icon">
            <p>@item.Text</p>
        </div>
    }
    

}
