@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@if (Model.DisplayWorseningCareAdvice)
{
    var isEmergencyOutcome = Model.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergency) || Model.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergencySexualAssault);
    if (!isEmergencyOutcome)
    {
        foreach (var item in Model.WorseningCareAdvice.Items)
        {
            <div class="worsening-advice-icon">
                <p>@item.Text</p>
            </div>
        }
    }
    else
    {
        <div class="worsening-advice-icon">
            <p>If you have any new symptoms, or the condition gets worse, changes or you have any other concerns call 999.</p>
        </div>
    }
}
