@using NHS111.Models.Models.Web
@model OutcomeViewModel

@if (Model.DisplayWorseningCareAdvice)
{
    <div class="service-booking-message alert sp-module">
        <h3 class="care-advice-section-header">
            What if I feel worse?
        </h3>
        @if (!ViewData.Keys.Contains("OverrideText"))
        {
            foreach (var item in Model.WorseningCareAdvice.Items)
            {
                <p>@item.Text</p>
            }
        }
        else
        {
            <p>@Html.Raw(ViewData["OverrideText"])</p> 
        }
    </div>
}
