<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="testJourneySection" type="NHS111.Web.Presentation.Configuration.TestJourneysConfigurationSection"/>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection"/>
  </configSections>
  <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config">
    <add key="login_credential_user" value="madeupUser"/>
    <add key="login_credential_password" value="madeupPassword"/>
    <add key="itk_credential_user" value="madeupUser"/>
    <add key="itk_credential_password" value="madeupPassword"/>
    <add key="BasicAuthFeatureIsEnabled" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="BusinessApiProtocolandDomain" value="http://localhost:9001/"/>
    <add key="GPSearchApiUrl" value="http://gpsearch.net/surgery/{0}"/>
    <add key="GPSearchByIdUrl" value="http://gpsearch.net/surgery/?name={0}"/>
    <add key="BusinessApiPathwayUrl" value="pathway/{0}"/>
    <add key="BusinessApiGroupedPathwaysUrl" value="pathway_suggest/{0}/{1}"/>
    <add key="BusinessApiGroupedPathwaysGenderAgeUrl" value="pathway_suggest/{0}/{1}/{2}/{3}"/>
    <add key="BusinessDosApiBaseUrl" value="http://localhost:9004/"/>
    <add key="BusinessDosApiCheckCapacitySummaryUrl" value="DOSapi/CheckCapacitySummary"/>
    <add key="BusinessDosApiServiceDetailsByIdUrl" value="DOSapi/ServiceDetailsById"/>
    <add key="BusinessApiJustToBeSafePartOneUrl" value="node/{0}/jtbs_first"/>
    <add key="BusinessApiJustToBeSafePartTwoUrl" value="node/{0}/jtbs/second/{2}/{3}/{1}"/>
    <add key="FeedbackApiBaseUrl" value="http://localhost:909/"/>
    <add key="FeedbackAddFeedbackUrl" value="add"/>
    <add key="FeedbackAuthorization" value="MadeUp"/>
    <add key="PostcodeApiBaseUrl" value="https://localhost:101/"/>
    <add key="PostcodeSearchByIdUrl" value="location/postcode/{0}"/>
    <add key="PostcodeSubscriptionKey" value="madeupSubscriptionKey"/>
    <add key="BusinessApiPathwayIdUrl" value="pathway/{0}/{1}/{2}"/>
    <add key="BusinessApiPathwaySymptomGroupUrl" value="pathway/symptomGroup/{0}"/>
    <add key="BusinessApiNextNodeUrl" value="node/{0}/{1}/next_node/{2}?state={3}"/>
    <add key="BusinessApiQuestionByIdUrl" value="node/{0}/question/{1}"/>
    <add key="BusinessApiCareAdviceUrl" value="pathways/care-advice/{0}/{1}?markers={2}"/>
    <add key="BusinessApiFirstQuestionUrl" value="node/{0}/questions/first?state={1}"/>
    <add key="BusinessApiInterimCareAdviceUrl" value="pathways/care-advice/{0}/{1}/{2}"/>
    <add key="BusinessApiPathwayNumbersUrl" value="pathway_direct/{0}"/>
    <add key="BusinessApiSymptomDiscriminatorUrl" value="symptomdiscriminator/{0}"/>
    <add key="BusinessApiGetCategoriesWithPathways" value="categories/pathways"/>
    <add key="BusinessApiGetCategoriesWithPathwaysGenderAge" value="categories/pathways/{0}/{1}"/>
    <add key="BusinessApiGetPathwaysGenderAge" value="pathway/{0}/{1}"/>
    <add key="BusinessApiPathwayMetadataUrl" value="pathway/metadata/{0}"/>
    <add key="BusinessApiPathwaySearchUrl" value="pathwaysearch/{0}/{1}/?highlight=true"/>
    <add key="BusinessApiLocationSearchGetAddressByGeoUrl" value="address/geo/{0}"/>
    <add key="BusinessApiLocationSearchGetAddressByPostcodeUrl" value="address/postcode/{0}"/>
    <add key="BusinessApiLocationSearchGetAddressValidatedByPostcodeUrl" value="address/validatepostcode/{0}"/>
    <add key="BusinessApiLocationSearchGetAddressByUDPRNUrl" value="address/udprn/{0}"/>
    <add key="BusinessApiGetFullPathwayJourneyUrl" value="questions/fullPathwayJourney"/>
    <add key="CCGApiBaseUrl" value="https://localhost:101/"/>
    <add key="CCGApiGetCCGByPostcodeUrl" value="api/ccg/{0}"/>
    <add key="CCGApiGetCCGDetailsByPostcodeUrl" value="api/ccg/details/{0}"/>
    <add key="BusinessApiVersionUrl" value="version"/>
    <add key="IntegrationApiItkDispatcher" value="http://localhost:9001/IntegrationItkDispatcher/ItkDispatcher"/>
    <add key="RedisConnectionString" value="localhost:852:6380,abortConnect=false,ssl=true,password=pass"/>
    <add key="ItkDispatcherApiBaseUrl" value="http://localhost:4848/"/>
    <add key="ItkDispatcherApiSendItkMessageUrl" value="SendItkMessage"/>
    <add key="CaseDataCaptureApiSubmitSMSRegistrationMessageUrl" value="api/CaseDataCapture/submit-registration"/>
    <add key="CaseDataCaptureApiVerifyPhoneNumberUrl" value="api/CaseDataCapture/verify-code"/>
    <add key="CaseDataCaptureApiGenerateVerificationCodeUrl" value="api/CaseDataCapture/generate-verification-code"/>
    <add key="GoogleAnalyticsContainerId" value="1234-No-Its-Not"/>
    <add key="DisclaimerBannerFeatureIsEnabled" value="false"/>
    <add key="CookieBannerFeatureIsEnabled" value="false"/>
    <add key="DisclaimerPopupFeatureIsEnabled" value="false"/>
    <add key="DirectLinkingFeatureIsEnabled" value="false"/>
    <add key="PostcodePrefillFeatureIsEnabled" value="false"/>
    <add key="DosEndpointFeatureIsEnabled" value="false"/>
    <add key="UserZoomSurveyFeatureIsEnabled" value="false"/>
    <add key="EmergencyAlertFeatureIsEnabled" value="false"/>
    <add key="EmailCollectionFeatureIsEnabled" value="false"/>
    <add key="ITKMessagingFeatureIsEnabled" value="true"/>
    <add key="AllowedPostcodeFeatureIsEnabled" value="true"/>
    <add key="DOSSpecifyDispoTimeFeatureIsEnabled" value="false"/>
    <add key="AllowedPostcodeFeaturePostcodeFile" value="postcodesfile"/>
    <add key="LoggingServiceApiBaseUrl" value="http://localhost:2025/"/>
    <add key="LoggingServiceApiAuditUrl" value="api/log/audit"/>
    <add key="MapsApiUrl" value="https://www.google.com/maps/dir/?api=1%26origin={0}%26destination={1}"/>
    <add key="MapsApiKey" value="AIzaSyD5d8kkEhqa6qyLJZwVZ-gno2zkiGcC7KQ"/>
    <add key="SuggestStartingPathwaysOnly" value="true"/>
    <add key="DOSWhitelist" value="1340019693|1340019782|1340019884|1362471653|1479806497|1479808152"/>
    <add key="SurveyLinkFeatureIsEnabled" value="true"/>
    <add key="SurveyLinkFeatureSurveyId" value="SV_42Dv8WJPVrcBmyF"/>
    <add key="SurveyLinkFeaturePharmacySurveyId" value="SV_5jUEoeFMAx7oDn7"/>
    <add key="internal:origins" value="http://example.com,http://test.test.net"/>
    <add key="RedirectToStartFeatureIsEnabled" value="true"/>
    <add key="RedirectToStartFeatureRedirectUrl" value="http://localhost:42564/"/>
    <add key="QueryStringEncryptionKey" value="12345"/>
    <add key="QueryStringEncryptionBytes" value="xyz"/>
    <add key="CaseDataCaptureApiBaseUrl" value="https://localhost:44328/"/>
    <add key="SurveyLinkFeatureBaseUrl"
      value="https://nhsdigital.eu.qualtrics.com/jfe/form/{0}?journey_id={1}&amp;stg_pw_id={2}&amp;edg_pw_id={3}&amp;dx_code={4}&amp;dispo_day={5}&amp;stg_pw_dig_title={6}&amp;edg_pw_title={7}&amp;dispo_date={8}&amp;dispo_time={9}&amp;stp={10}&amp;ccg={11}&amp;svce_count={12}&amp;svcs_offered={13}&amp;launch_page={14}&amp;validation_callback_offered={15}&amp;dispo_date_text={16}&amp;rec_service_dos_type={17}&amp;rec_service_id={18}&amp;rec_service_name={19}&amp;dispo_choice_reasoning={20}"/>
    <add key="ValidationDxRemap"
      value="Dx0121:Dx333,Dx0122:Dx333,Dx0127:Dx333,Dx0162:Dx333,Dx012:Dx333,Dx0126:Dx333,Dx013:Dx333,Dx016:Dx333,Dx02:Dx334,Dx03:Dx337,Dx89:Dx338,Dx92:Dx337,Dx0124:Dx333"/>
    <add key="ValidationDxRetry" value="Dx02,Dx03,Dx89,Dx92"/>
    <add key="Expert24Url" value="https://www.111onlinesuffolk.careuk.com/portal/careuk/"/>
    <add key="ServicePointManagerDefaultConnectionLimit" value="200"/>
  </appSettings>
  <basicAuth>
    <excludes>
      <!-- Exclude all styles, images etc in Content folder -->
      <add url="#{AuthenticationExcludeContentList}" verb="#{AuthenticationExcludeContentVerb}"/>
      <add url="#{AuthenticationExcludeScriptList}" verb="#{AuthenticationExcludeScriptVerb}"/>
    </excludes>
  </basicAuth>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="aiAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\..\LogFiles\Log4Net\Log4Net.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{dd-MM-yyyy HH:mm:ss} %logger [%thread] - %message %exception%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
  </log4net>
  <testJourneySection>
    <testJourneys>
      <!-- Chest pain journeys -->
      <testJourney triggerQuestionNo="TX223421">
        <![CDATA[{ "PathwayNo": "PA21", "Journey": {"Steps": [{"questionNo": "TX221225","answer": {  "title": "No"}},{"questionNo": "TX1543","answer": {  "title": "Yes"}},{"questionNo": "TX220257","answer": {  "title": "No"}},{"questionNo": "TX223142","answer": {  "title": "Normal, warm or hot"}},{"questionNo": "TX220037","answer": {  "title": "I have a different type of pain"}},{"questionNo": "TX223421","answer": {  "title": "Aching pain in my chest that goes to my arm, neck or jaw"}},{"questionNo": "TX224190","answer": {  "title": "I feel ill but can still do some things"}}] }}]]>
      </testJourney>
      <testJourney triggerQuestionNo="TX223421">
        <![CDATA[{ "PathwayNo": "PA21", "Journey": {"Steps": [{"questionNo": "TX221225","answer": {  "title": "No"}},{"questionNo": "TX1543","answer": {  "title": "Yes"}},{"questionNo": "TX220257","answer": {  "title": "No"}},{"questionNo": "TX223142","answer": {  "title": "Normal, warm or hot"}},{"questionNo": "TX220037","answer": {  "title": "I have a different type of pain"}},{"questionNo": "TX223421","answer": {  "title": "Aching pain in my chest that goes to my arm, neck or jaw"}},{"questionNo": "TX224190","answer": {  "title": "I feel well enough to do most of my usual activities"}}] }}]]>
      </testJourney>
      <testJourney triggerQuestionNo="TX223421">
        <![CDATA[{ "PathwayNo": "PA21", "Journey": {"Steps": [{"questionNo": "TX221225","answer": {  "title": "No"}},{"questionNo": "TX1543","answer": {  "title": "Yes"}},{"questionNo": "TX220257","answer": {  "title": "No"}},{"questionNo": "TX223142","answer": {  "title": "Normal, warm or hot"}},{"questionNo": "TX220037","answer": {  "title": "I have a different type of pain"}},{"questionNo": "TX223421","answer": {  "title": "Aching pain in my chest that goes to my arm, neck or jaw"}},{"questionNo": "TX224190","answer": {  "title": "I feel so ill I've stopped doing everything I usually do"}},{"questionNo": "TX224072","answer": {  "title": "Yes"}}] }}]]>
      </testJourney>
      <testJourney triggerQuestionNo="TX223421">
        <![CDATA[{ "PathwayNo": "PA21", "Journey": {"Steps": [{"questionNo": "TX221225","answer": {  "title": "No"}},{"questionNo": "TX1543","answer": {  "title": "Yes"}},{"questionNo": "TX220257","answer": {  "title": "No"}},{"questionNo": "TX223142","answer": {  "title": "Normal, warm or hot"}},{"questionNo": "TX220037","answer": {  "title": "I have a different type of pain"}},{"questionNo": "TX223421","answer": {  "title": "Aching pain in my chest that goes to my arm, neck or jaw"}},{"questionNo": "TX224190","answer": {  "title": "I feel so ill I've stopped doing everything I usually do"}},{"questionNo": "TX224072","answer": {  "title": "I'm not sure"}}] }}]]>
      </testJourney>
      <testJourney triggerQuestionNo="TX223421">
        <![CDATA[{ "PathwayNo": "PA21", "Journey": {"Steps": [{"questionNo": "TX221225","answer": {  "title": "No"}},{"questionNo": "TX1543","answer": {  "title": "Yes"}},{"questionNo": "TX220257","answer": {  "title": "No"}},{"questionNo": "TX223142","answer": {  "title": "Normal, warm or hot"}},{"questionNo": "TX220037","answer": {  "title": "I have a different type of pain"}},{"questionNo": "TX223421","answer": {  "title": "Aching pain in my chest that goes to my arm, neck or jaw"}},{"questionNo": "TX224190","answer": {  "title": "I feel so ill I've stopped doing everything I usually do"}},{"questionNo": "TX224072","answer": {  "title": "No"}}] }}]]>
      </testJourney>
      <!-- Breathlessness journeys -->
      <testJourney triggerQuestionNo="TX140012">
        <![CDATA[{ "PathwayNo": "PW556", "Journey": {"Steps": [{"questionNo": "TX1728","answer": {  "title": "Yes"}},{"questionNo": "TX224190","answer": {  "title": "I feel so ill I've stopped doing everything I usually do"}},{"questionNo": "TX140012","answer": {  "title": "Yes" }}]}}]]>
      </testJourney>
    </testJourneys>
  </testJourneySection>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/static/500.aspx">
      <error statusCode="404" redirect="~/static/404.aspx"/>
      <error statusCode="500" redirect="~/static/500.aspx"/>
    </customErrors>
    <anonymousIdentification enabled="true"/>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" path="/static/404.html" responseMode="File"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="/static/500.html" responseMode="File"/>
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>