﻿@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {Cookies}
<div class="help cookies measure">
    <h1 class="heading-large">Cookies on 111.nhs.uk</h1>
    <p>
        Cookies are small files saved on your phone, tablet or computer when you visit a website.
    </p>
    <p>
        They store information about how you use the website. Some of them can be turned on and off.
    </p>
    <p>
        NHS 111 online only stores cookies that are essential to make the site secure and work properly. 
        This means they cannot be turned off.
    </p>
    <p>
        You can’t be identified by the cookies used on 111.nhs.uk.
    </p>
    <h2>Cookies needed for the website to work</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nhs111-session-id</td>
                <td>Tracks your journey through the site</td>
                <td>When you close the browser</td>
            </tr>
            <tr>
                <td>AspNetCore.Antiforgery</td>
                <td>Helps protect the site from attacks</td>
                <td>When you close the browser</td>
            </tr>
            <tr>
                <td>ARRAffinity</td>
                <td>Used by servers to make sure a session stays in the same environment</td>
                <td>When you close the browser</td>
            </tr>
        </tbody>
    </table>
</div>
