
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {Language}


<main id="content" role="main" class="content">
  <div class="measure nhsuk-core">
    <h1 class="nhsuk-heading-xl">
      If you need help in another language
    </h1>
    <p>
      If reading English is hard for you, call 111. The 111 phone service can get an interpreter to help you.
    </p>
    <h2 class="nhsuk-heading-l">
      British Sign Language for deaf users
    </h2>
    <p>
        A British Sign Language (BSL) interpreter is available every day at <a href="https://interpreternow.co.uk/nhs111" data-event-trigger="click" data-event-value="BSL link from language support page">interpreternow.co.uk/nhs111</a>
    </p>
  </div>
</main>
