@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {Privacy statement}
<link href="~/Content/css_NhsUK/help.css" media="screen" rel="stylesheet" type="text/css" />
<div class="help privacy">
    <h2>Privacy Policy</h2>

    <h3>Overview</h3>

    <p>
        When you use the 111 service information about your condition is collected so we can understand it. In addition we collect anonymous information about how you reached the website. This is so we can improve the service for future users. However unless you choose to be referred no information that can identify you is collected.
    </p>

    <p>
        If you do choose to participate in the triage and be referred this is what we collect:
    </p>

    <ul>
        <li>Age and gender – so the service can provide you with the most accurate medical triage</li>
        <li>Location information – we need your postcode so we can find the most appropriate medical service for your condition. To help keep your privacy we only keep the first part of your postcode on the system.</li>
        <li>Personal information – we will ask for this only where you would like to be referred to a health care provider. For this we will collect your first name, last name, email address, postcode, address and telephone number or we ask for the details of the person you are contacting us about. This information along with the advice you’ve been given will be passed to a healthcare professional.</li>
    </ul>

    <p>
        Without this information we cannot provide the service you have requested.
    </p>
    <p>
        The information is collected by NHS Digital who provide the technical side of the 111 service. We store copies of clinical records for audit purposes only with strict security controls. After 8 years (which is the standard retention period for this type of record) it will be securely deleted from NHS Digital’s systems. By agreeing to be referred to a healthcare professional you agree to this.
    </p>
    <p>
        The healthcare team that your information is passed to will have their own policies which cover the use of the information you have provided. This will include who they may share your information with to provide further healthcare.
    </p>
    <p>
        If you want to find out more about the NHS 111 service and how it uses your information please see below.
    </p>

    <hr />

    <h2>Information we may collect, and how we use it</h2>

    <p>
        In all cases below, where we refer to ‘you’ the user, if you are contacting us about someone else this information may also refer to them.
    </p>

    <h3>We collect the following anonymous information</h3>

    <ul>
        <li>
            Technical information.  As you travel through the site we anonymously collect IP address and the website you came from, details of which version of web browser you used, information on how you use the site, using cookies and page tagging techniques.
        </li>
        <li>
            We cannot guarantee uninterrupted access to the website, or the sites to which it links. We accept no responsibility for any damage arising from the unavailability of this website or the information it contains.
        </li>
        <li>
            This website contains links to other sites. We are not responsible for the content of any third party website and a link to another site in no way constitutes NHS Digital’s endorsement of the contents therein.
        </li>
        <li>
            You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part. We reserve the right to withdraw linking permission without notice.
        </li>
        <li>
            If you submit personal information to us through this website, it will be used in accordance with our privacy policy.
        </li>
        <li>
            We do not guarantee that this website will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.
            You must not misuse this website by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which this website is stored, or any server, computer or database connected to this website. You must not attack this website via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use this website will cease immediately.
        </li>
    </ul>

    <hr />

    <h3>General</h3>

    <ul>
        <li>
            We aim to ensure that the information published on this website is accurate and consistent with current knowledge and practice in the NHS. However, medical knowledge and practice is constantly evolving and this site may not reflect the latest knowledge or practice.
        </li>
        <li>
            This website is written on the basis of general likely scenarios. Individual cases may require specific advice that cannot be addressed through this website. Accordingly, this website is provided for information only. It is not intended to replace a consultation with an appropriately qualified health professional. You should not ignore any professional medical advice on the basis of this website. We cannot guarantee that information provided by us through this website will meet your health or medical requirements.
        </li>
        <li>
            If you are concerned about your health, please contact a health professional such as your GP or call NHS 111 by dialing 111 from any landline or mobile phone free of charge.
        </li>
        <li>
            You acknowledge and agree that NHS Digital will not be responsible for any injury, loss or damage (whether direct or indirect) arising out of, or relating to the misuse of, or inappropriate reliance on the contents or advice contained within the NHS 111 Online website, except to the extent that such liability cannot be excluded by law.
        </li>
        <li>
            We only provide this website for domestic and private use. You agree not to use this website for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
            Nothing in these terms of use shall exclude our liability to you for fraudulent misrepresentation by us or our employees or for death or personal injury resulting from our negligence or that of our employees.
        </li>
        <li>
            These terms of use shall be governed by and interpreted in accordance with the laws of England, and we both agree to the exclusive jurisdiction of the courts of England in respect of any disputes which may arise in relation to our website.
        </li>
    </ul>

    <hr />

    <h3>Contact details</h3>

    <ul>
        <li>
            If you need to get in touch you can contact us at the following email address <a href="mailto:nhsdigital.NHS.UK-ServiceDesk@nhs.net">nhsdigital.NHS.UK-ServiceDesk@nhs.net</a>
        </li>
    </ul>
</div>
