@model NHS111.Models.Models.Web.DosViewModel

<div class="row" id="DosResults">
    @if (Model.CheckCapacitySummaryResultList != null && Model.DosServicesByClinicalTermResult != null)
    {

        <div class="col-xs-6">
            <div class="panel panel-success">
                <div class="panel-heading">DoS Results</div>
                <ul class="list-group">
                    @foreach (var checkCapacitySummaryResult in Model.CheckCapacitySummaryResultList)
                    {
                        <li class="list-group-item">@checkCapacitySummaryResult.NameField</li>
                    }
                </ul>
            </div>
        </div>
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Proof of Concept API Results</div>
                    <ul class="list-group">
                        @foreach (var service in Model.DosServicesByClinicalTermResult.Success.Services)
                        {
                            <li class="list-group-item">@service.Name</li>
                        }
                    </ul>
                </div>
            </div>
    }
</div>
