@* Use like so:
    @Html.Partial("_InlineSpinner")
*@

<span id="loading"></span>

<script type="text/javascript">
    var opts = {
        lines: 12, // The number of lines to draw
        length: 4, // The length of each line
        width: 4, // The line thickness
        radius: 5, // The radius of the inner circle
        color: '#fff', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false // Whether to use hardware acceleration
    }

    var spinner = new Spinner(opts)

    function startSpinner() {
        var target = document.getElementById('loading')
        spinner.spin(target)
    }

    function stopSpinner() {
        spinner.stop()
    }

    window.addEventListener("pagehide", stopSpinner)
    window.addEventListener("pageshow", stopSpinner)
</script>
