@using NHS111.Models.Models.Web.Elements
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.JourneyViewModel>

@section Title { NHS 111 online - About coronavirus (COVID-19)}
@{ ViewBag.Description = "Check if you have coronavirus symptoms. Find out what to do next, and if you can look after yourself at home or need to get medical help."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'About coronavirus',
                'virtualPageTitle': 'About coronavirus'
            }];
    </script>
}
@using (Html.BeginForm("Location", "Location", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SessionId)
    @Html.Hidden("IsCustomJourney", true)
    @Html.Hidden("PathwayNo", "PW1851")
<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">
        Check your symptoms
    </h1>

    <p>
        We will ask you some questions to check if it might be coronavirus, and tell you what to do next.
    </p>

    <p>
        <button type="submit" class="button--next" id="start-symptom-checker">Start now</button>
    </p>

    <hr class="nhsuk-u-margin-top-9" />

    <h2 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l">
            On NHS.UK:
        </span>
        Advice about coronavirus (COVID-19)
    </h2>
    <p>
        NHS.UK has the latest advice and general information about coronavirus.
    </p>

    <p>
        <a data-event-trigger="click" data-event-value="Novel Coronavirus" href="https://www.nhs.uk/conditions/coronavirus-covid-19">
            Go to NHS.UK for more coronavirus information and services
        </a>
    </p>

    <hr class="nhsuk-u-margin-top-7" />

    <h2 class="nhsuk-heading-l">
        Get an isolation note
    </h2>
    <p>
        If you need time off work you can <a data-event-trigger="click" data-event-value="Get an isolation note" href="https://111.nhs.uk/isolation-note">get an isolation note</a> to give to your employer.
    </p>
    <p>
        You can get one if you:
    </p>
    <ul>
        <li>
            have symptoms - <button type="submit" class="button--link" id="start-symptom-checker-link">check them first</button>
        </li>
        <li>
            live with someone with symptoms
        </li>
        <li>
            have been told to self-isolate by a test and trace service
        </li>
    </ul>

    <hr class="nhsuk-u-margin-top-7" />

    <h3 class="nhsuk-heading-s">Advice in other parts of the UK</h3>
    <!-- NOTE updated links -->
    <ul>
        <li>
            <a data-event-trigger="click" data-event-value="Symptoms in Scotland" href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">
                Scotland
            </a>
        </li>
        <li>
            <a data-event-trigger="click" data-event-value="Symptoms in Wales" href="https://www.nhsdirect.wales.nhs.uk/SelfAssessments/symptomcheckers/?ScName=CoronaVirusCOVID19&SCTId=175">
                Wales
            </a>
        </li>
        <li>
            <a data-event-trigger="click" data-event-value="Symptoms in Northern Ireland" href="https://www.nidirect.gov.uk/campaigns/coronavirus-covid-19">
                Northern Ireland
            </a>
        </li>
    </ul>
</div>
}
