@using Newtonsoft.Json
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web.Elements
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.JourneyViewModel>

@section Title { NHS 111 Online - Stay at home hub}
@{ ViewBag.Description = "Getting tested and managing symptoms at home. Find out what to do if you have symptoms of coronavirus and what to do next."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Stay at home hub',
                'virtualPageTitle': 'Stay at home hub'
            }];
    </script>
}

<div class="measure nhsuk-core">
    @Html.HiddenFor(m => m.SessionId)
    <h1 class="nhsuk-heading-xl">
        Getting tested and managing symptoms at home
    </h1>

    <p>
        NHS.UK has information to help if you have symptoms. You can find out:
    </p>
    <ul>
        <li>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/staying-at-home-if-you-or-someone-you-live-with-has-coronavirus-symptoms/" data-event-trigger="click" data-event-value="NHS.UK coronavirus staying at home link">how long to isolate for</a> if you or someone you live with has symptoms
        </li>
        <li>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/" data-event-trigger="click" data-event-value="NHS.UK coronavirus managing symptoms at home link">how to manage your symptoms at home</a> and what to do if you feel worse
        </li>
    </ul>
    <p>
        To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>

    <div class="callout callout--attention nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
        <h2 class="nhsuk-heading-l">
            Ask for a coronavirus test
        </h2>

        <p>The test will show if you have the virus now.</p>

        <p>More tests are being made available all the time, so if you can’t get one try again later.</p>

        <p>To apply for a test follow these instructions (you might want to note them down so you don’t forget):</p>

        <ol>
            <li>Go to gov.uk/coronavirus</li>
            <li>Choose 'Testing for coronavirus (COVID-19)' from the 'Guidance and support' section.</li>
            <li>Select 'Apply for a coronavirus (COVID-19) test if you have a clinical referral'.</li>
            <li>Choose how you want to take the test.</li>
            <li>When asked 'What is your profession?' choose 'Clinical referral from NHS 111 online' from the drop down menu.</li>
        </ol>

        <p>You will then be asked for your name and mobile number and given more details about what happens next.</p>


        @Html.Partial("_ActionLink", new ActionLinkViewModel { Text = "Go to gov.uk/coronavirus", Url = "https://www.gov.uk/coronavirus", EventTrigger = "click", EventValue = "gov.uk coronavirus testing page", Target = "_blank" })
        </div>
        <h2 class="nhsuk-heading-l">
            Other things you can do on NHS.UK
        </h2>
        <p>
            You can also:
        </p>
        <ul>
            <li>
                <a href="https://111.nhs.uk/isolation-note" data-event-trigger="click" data-event-value="NHS.UK Isolation Note link" target="_blank">get an isolation note</a> (like a sick note) to give to your employer if you need time off work
            </li>
            <li>
                help the NHS plan its response to coronavirus by <a href="https://www.nhs.uk/coronavirus-status-checker" data-event-trigger="click" data-event-value="NHS.UK status checker link" target="_blank">telling us about your current experience of the virus</a>
            </li>
        </ul>

        <p>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" data-event-trigger="click" data-event-value="NHS.UK coronavirus hub link">
                Go to NHS.UK for more coronavirus information
            </a>
        </p>
    </div>
