@using NHS111.Models.Models.Web.Elements
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.JourneyViewModel>

@section Title { NHS 111 Online - Stay at home hub}
@{ ViewBag.Description = "Find out what to do during the isolation period. Find out what to do if you have symptoms of coronavirus and what to do next."; }
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Stay at home hub',
                'virtualPageTitle': 'Stay at home hub'
            }];
    </script>
}

    <div class="measure nhsuk-core">
        @Html.HiddenFor(m => m.SessionId)
        <h1 class="nhsuk-heading-xl">
            What to do during the isolation period
        </h1>

        <h2 class="nhsuk-heading-l">
            How long to isolate
        </h2>

        <h3 class="nhsuk-heading-m">
            If you have symptoms
        </h3>

        <p>
            If you have symptoms of coronavirus, you'll need to self-isolate for 7 days.
        </p>
        <p>
            After 7 days:
        </p>
        <ul>
            <li>
                if you do not have a high temperature, you do not need to self-isolate
            </li>
            <li>
                if you still have a high temperature, keep self-isolating until your temperature returns to normal
            </li>
        </ul>

        <p>
            You do not need to self-isolate if you just have a cough after 7 days.  A cough can last for several weeks after the infection has gone.
        </p>

        <h3 class="nhsuk-heading-m">
            If you live with someone who has symptoms
        </h3>

        <p>
            If you live with someone who has symptoms, you'll need to self isolate for 14 days from the day their symptoms started.  This is because it can take 
            14 days for symptoms to appear.
        </p>
        <p>
            If more than 1 person at home has symptoms, self-isolate for 14 days from the day the first person started having symptoms.
        </p>
        <p>
            If you get symptoms, self-isolate for 7 days from when your symptoms start, even if it means you're self-isolating for longer than 14 days.
        </p>
        <p>
            If you do not get symptoms, you can stop self-isolating after 14 days
        </p>
        <p>
            <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
                Read more self-isolation advice on NHS.UK.
            </a>
        </p>

        <h3 class="nhsuk-heading-m">
            Vulnerable people
        </h3>

        <p>
            If you live with someone who is 70 or over, has a long-term condition, is pregnant or has a weakened immune system, try to arrange for them to stay
            with friends or family for 14 days.
        </p>
        <p>
            If you have to stay at home together, try to keep away from each other as much as possible.
        </p>

        <h3 class="nhsuk-heading-m">
            How to look after your symptoms at home
        </h3>

        <ul>
            <li>
                rest and drink plenty of fluids
            </li>
            <li>
                take paracetamol
            </li>
            <li>
                cover your mouth with a tissue when coughing or sneezing
            </li>
            <li>
                put used tissues in a bin
            </li>
            <li>
                wash your hands regularly with soap and warm water for at least 20 seconds
            </li>
        </ul>

        <p>
            If you feel you can't cope with your symptoms at home, or your condition gets worse, use the
            111 online service again.
        </p>
        <div class="disposition-set">

            <div class="disposition-unit">
                @Html.Partial("_GetTextMessages")
            </div>

            <div class="disposition-unit">
                @Html.Partial("_GetIsolationNote")
            </div>

            <div class="disposition-unit">
                @Html.Partial("_GetStatusChecker")
            </div>
        </div>

    </div> 