<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="moduleZeroJourneys" type="NHS111.Models.Models.Configuration.ModZeroJourneysSection, NHS111.Models" />
  </configSections>
  <moduleZeroJourneys>
    <moduleZeroJourney age="Adult" gender="Female" type="Trauma" id="1" pathwayId="PA113" dispositionId="PX1234">
      <journeySteps>
        <journeyStep questionId="1" answerOrder="0" />
        <journeyStep questionId="2" answerOrder="3" />
        <journeyStep questionId="3" answerOrder="2" />
        <journeyStep questionId="4" answerOrder="0" />
        <journeyStep questionId="5" answerOrder="0" />
      </journeySteps>
    </moduleZeroJourney>
    <moduleZeroJourney age="Adult" gender="Male" type="Non-Trauma" id="2" pathwayId="PA118" dispositionId="PX1234">
      <journeySteps>
        <journeyStep questionId="1" answerOrder="0" />
        <journeyStep questionId="2" answerOrder="1" />
        <journeyStep questionId="3" answerOrder="1" />
        <journeyStep questionId="4" answerOrder="2" />
        <journeyStep questionId="5" answerOrder="2" />
      </journeySteps>
    </moduleZeroJourney>
    <moduleZeroJourney age="Child" gender="Male" type="Trauma" id="3" pathwayId="PA125" dispositionId="PX1234">
      <journeySteps>
        <journeyStep questionId="1" answerOrder="0" />
        <journeyStep questionId="2" answerOrder="0" />
        <journeyStep questionId="3" answerOrder="2" />
        <journeyStep questionId="4" answerOrder="0" />
        <journeyStep questionId="5" answerOrder="0" />
      </journeySteps>
    </moduleZeroJourney>
  </moduleZeroJourneys>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
</configuration>
