@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title
{NHS 111 Digital}
@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
}

@section OuterSection{
    <link href="~/Content/css_NhsUK/emergency.css" media="screen" rel="stylesheet" type="text/css" />

    <div class="emergency">
        <div class="emergency-img-container">
            <div class="emergency-img">
                <img src="~/content/img/call_999.png" alt="Call 999" class="emergency-image"/>
            </div>
            <div class="emergency-text">
                <h2 class="heading-large">Dial 999 </h2>
                @if (Model.HasEndpointReasoning)
                {
                    <div>
                        @Model.SymptomDiscriminator.ReasoningText
                    </div>
                }
                else
                {
                    <div>
                        Your answers suggest you need to dial 999 immediately and ask for an ambulance.
                    </div>
                }
            </div>
        </div>
    </div>
    <hr class="emergency-hr" />
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<div id="wrapper">
    <div>

    </div> <!--/ContentWrapper-->
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {

        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <div class="row">
            <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my answers" />
        </div>

    }

</div> <!-- /site -->