@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {

}

@section OuterMain {
    <div class="sub-header">
        <div>
            <div class="tick">&#10003;</div>
            <h2>You've finished your online assessment</h2>
            <p>We recommend that you speak to a clinician within 2 hours</p>
        </div>
    </div>
}

<style src="~/content/css_NhsUk/disposition.css"></style>

<h2>Let us contact a healthcare provider near you</h2>
<p>Please enter your details below to find a healthcare provider and they will contact you.</p>

<form>

    <div>
        <div>
            <label>Postcode of current location</label>
            <input type="text" class="form-control"/>
        </div>

        <aside>
            <h3>Why we need this</h3>
            <p>
                So we can offer details of healthcare providers<br/>available near to where you are right now.
            </p>
        </aside>

        <div>
            <label>Name of your GP practice <span>(optional)</span></label>
            <input type="text" class="form-control"/>
        </div>

        <aside>
            <h3>Why we need this</h3>
            <p>So we can offer healthcare providers which may be<br/>available through your own GP practice.
            </p>
        </aside>
    </div>

    <input type="submit" value="Find available healthcare providers" class="button button-get-started" />

</form>