@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title
{NHS 111 Digital}
@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
}

@section OuterSection{
    <link href="~/Content/css_NhsUK/emergency.css" media="screen" rel="stylesheet" type="text/css" />

    <div class="emergency">
        <div class="emergency-img-container">
            <div class="emergency-img">
                <img src="~/content/img/ambulance.png" alt="Ambulance" class="ambulance-image" />
            </div>
            <div class="emergency-text">
                <h2 class="heading-large">Dial 999 </h2>
                <div>
                    Your answers suggest you need to dial 999 immediately and ask for an ambulance.
                </div>
            </div>
        </div>
    </div>
}

<div id="wrapper">
    <div>

    </div> <!--/ContentWrapper-->
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {

        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <div class="row">
            <input class="button button-next button-link" type="submit" name="PreviousQuestion" value="Change my answers" />
        </div>

    }

    <div class="feedback-wrapper nhs-show-nav" style="border-top: 2px solid #da4d4e; border-bottom: none; text-align: initial; margin-top: 50px;">
        <div class="nhs-pagenav-container" style="font-size: 16px;">

            @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Model.Id })
        </div>
    </div>

</div> <!-- /site -->