@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}
<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
@section Title {

}

@section Scripts {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

        <div class="outcome-header">
            <h2 class="heading-large">Based on your answers you do not need to see a healthcare professional at this time.</h2>
        </div>
    


@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<section>
    <div>
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>
