@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    ViewBag.Title = "RecommendedServiceNotOffered";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/recommendedservicenotoffered/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
            {
                'virtualPageUrl': '@url',
                'virtualPageTitle': 'Recommended service not offered'
            }];
    </script>
}
@section Title { NHS 111 - Recommended Service }
@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
}

<div class="nhsuk-core">
    Call 111
</div>
