@using NHS111.Models.Models.Domain
@model NHS111.Models.Models.Web.OutcomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Service details
}

@section OuterSection {

}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new Feedback() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/servicedetails.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    @Html.Partial("_SurgeryDetails", Model.CheckCapacitySummaryResultList)
</section>