@using NHS111.Models.Models.Web
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Service Booking Failure
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = "Itk_Failure" })
}

<section>
    <div class="outcome-header fail">
        <h2 class="heading-large">Unfortunately your callback request failed.</h2>
        <h3 class="heading-medium">Please call NHS 111 for further care and advice. You may need to provide your details again so that we can best help you</h3>
        @Html.Partial("_WorseningAdvice", Model)
    </div>
</section>

<section>
    <div>
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>