@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Service Booking Failure
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="section-item">
        <h3 class="section-header">
            Service booking Failed
        </h3>
        <div class="service-booking-message alert">
            <div><b>We were unable to contact >@WebUtility.HtmlDecode(Model.SelectedService.NameField)</b></div>
            <div>Call 111 to book an appointment</div>
        </div>
    </div>
</section>

<section>
    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
            <h3 class="section-header">
                Worsening and self care advice
            </h3>

            <div class="service-booking-message alert">
                @foreach (var item in Model.WorseningCareAdvice.Items)
                {
                    <p>@item</p>
                }
            </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>