@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.Elements
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DirectLinkingView<JourneyViewModel>
@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': 'Emergency Prescriptions not available',
                'virtualPageTitle': 'Emergency Prescriptions not available'
            }];
    </script>
}
@section Title {NHS 111 Online - Emergency Prescriptions not available}
@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.OutOfArea, Model) })
}
<div class="callout callout--attention measure nhsuk-u-margin-bottom-4">
    <h1 class="h2">
        This service is not in your area
    </h1>
    <p>
        The emergency prescription referral service is not yet available in your area.
    </p>
    <p>
        A pharmacist can help if you can't get in touch with your GP.
    </p>
    <p>
        @Html.Partial("_ActionLink", new ActionLinkViewModel() { Text = "Find a pharmacy", Url = "https://www.nhs.uk/service-search/Pharmacy/LocationSearch/10" })
    </p>
</div>
