<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestWebsiteUrl" value="http://madeupUser:madeupPassword@localhost:51346/" />
    <add key="QueryStringEncryptionKey" value="12345678" />
    <add key="QueryStringEncryptionBytes" value="MTIzNDU2Nzg=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>