<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config">
    <add key="TestWebsiteUrl" value="http://localhost:55537/?utm_source=NHS+Leeds+CCG&amp;utm_medium=Direct&amp;utm_campaign=West+Yorkshire&amp;utm_content=&amp;args=D5650DAD9A3C5C7BD14ABED6A05B97B533065CBBE73E7DD07B40C2497046FA6C9A781AFC8CB7BD0856E45588B614445C609911107120FCA79C105D0941CDC45CED0FA94435608A908706FF3FD81758D8"/>
    <add key="UnauthenticatedTestWebsiteUrl" value="http://localhost:51346/"/>
    <add key="login_credential_user" value="madeupUser"/>
    <add key="login_credential_password" value="madeupPassword"/>

    <add key="BaselineScreenShotFolder" value="BaselineScreenShots"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
