@using System.Reflection
@using NHS111.Models.Models.Web
@model JourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title { NHS 111 Online - Tell us about you }

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) + "/demographics" })
}

@using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @id = "outerContent" }))
{
    @Html.HiddenFor(x => Model.SessionId)
    @Html.HiddenFor(x => Model.FilterServices)
    @Html.Partial("_GenderAgeView", Model, new ViewDataDictionary(ViewData) { Model = null })

    <button class="button button--next" id="submitGender" type="submit" name="Slider">Next</button>
}