@using System.Configuration
@using NHS111.Models.Models.Web
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@inherits NHS111.Web.Views.Shared.DisclaimerPopupView

@section Title {NHS 111 Digital}

@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/disclaimer.js"></script>
}

@{
    if (DisclaimerPopupFeature.IsEnabled)
    {
        <!-- toggle disclaimer popup -->
        <link rel="stylesheet" href="~/Content/css_NhsUK/modal.css">
        <script src="~/scripts/disclaimer-popup.js"></script>
    }
}

<link href="~/Content/css_NhsUK/search.css" media="screen" rel="stylesheet" type="text/css" />

@section OuterSection {

}


<div id="wrapper" class="home">
    @using (Html.BeginForm("Home", "Question", FormMethod.Post))
    {
        @Html.HiddenFor(x => Model.SessionId)

        <div class="header home">
            <h2 class="discHead">Welcome to NHS 111</h2>
        </div>

        <p class="trial strong">Use this service when you need medical help or advice but it's not an emergency.</p>
        <p>This is a trial of a new online service which is only available to residents of West Yorkshire.  If you don’t live in this area but need medical help, please call 111.</p>
        <div class="steps">
            <ol class="steps-list row">
                <li>
                    <div class="step">
                        <p>We’ll rule out some serious conditions</p>
                    </div>
                    <div class="step-number">
                        <p>1</p>
                    </div>
                </li>
                <li>
                    <div class="step">
                        <p>We’ll ask the right questions about your problem</p>
                    </div>
                    <div class="step-number">
                        <p>2</p>
                    </div>
                </li>
                <li>
                    <div class="step">
                        <p>We’ll advise you what to do</p>
                    </div>
                    <div class="step-number">
                        <p>3</p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="clear"></div>
        <p>Our advice could be something you can do at home, a medicine you can get over the counter, or a visit to a GP or another health professional.</p>
        <p>We can also advise you what to do when your usual service is closed.</p>
        <button type="submit" class="button button-get-started go">Start NHS 111</button>

        <p>If you're looking for NHS opening times or contact information, use <a href="http://www.nhs.uk">NHS Choices</a>.</p>

    }
</div>

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}