@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.DirectLinkingView<NHS111.Models.Models.Web.SearchJourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Tell us the symptom}
@section EmergencyAlert{
    @if (EmergencyAlertFeature.IsEnabled)
    {
        @Html.Partial("_EmergencyAlert", new EmergencyAlertViewModel {SessionId = Model.SessionId})
    }
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Search, Model) })
}

<div class="measure search-typography">
    <h1 class="heading--large">@Html.LabelFor(m => m.SanitisedSearchTerm, "Find the right topic")</h1>
    <p>If you have more than 1 symptom, choose the one that's bothering you most today.</p>
    <p>Search for symptoms like 'rash' or 'stomach ache' rather than names of conditions.</p>
    @Html.Partial("_SearchBox", Model, ViewData)

    @{
        var encryptedTopicsQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
    }

    <p>You can also <a id="show-categories" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Categories?args=@encryptedTopicsQueryStringValues">browse topics by category.</a></p>
</div>

