/**
  The [class^="nhsuk-"] selector is used so that for the new NHS.UK Frontend styles
  we can bring them in on a component by component basis. Some pages will also use it
  such as .nhsuk-core to namespace the entire page. Our components that use the NHS.UK styles
  are imported here so they have access to the correct mixins.
*/

@import "environment/generic";
@import "environment/settings";
@import "environment/tools";

[class^="nhsuk-"] {
  /* The worst part of current styles is the "lobotomised owl" so for NHS.UK Frontend styles, nuke it. */
  * + * {
    margin-top: inherit !important;
  }

  /* nhsuk-frontend components */
  @import "node_modules/nhsuk-frontend/packages/core/all";

  /* Reinstate border-box everywhere, nhsuk has it set as inherit */
  *, *:after, *:before {
    box-sizing: border-box;
  }

  .button--link {
    @include nhsuk-font(19);
    @include nhsuk-link-style-default;
    display: inline;
    position: inherit;
    width: auto;
  }
  /* Some specificity hacks are required so nhsuk doesn't override existing classes */
  .search__button--back {
    @extend .search__button--back;
  }

  .callout {
    @include top-and-bottom();
  }

  .form-hint {
    @extend .form-hint;
  }
  /* nhsuk-frontend components */
  @import "node_modules/nhsuk-frontend/packages/components/action-link/action-link";
  /* Our components that have nhsuk-frontend as a dependency */
  @import "components/service-details";
}

@import "objects";
@import "units";
@import "components";
