@using NHS111.Models.Models.Web.Elements
<h2 class="nhsuk-heading-l">
    Get an isolation note to give to your employer
</h2>
<p>
    An isolation note can help you get sick pay if you are unable to work because
    of coronavirus.
</p>
<p>
    You don’t need one unless you are going to be off for more than 7 days.
</p>
<p>
    Give the isolation note to your employer as proof you’ve been told to stay
    at home.
</p>
<p>
    You do not need to get a note from a GP.
</p>
<p>
    @Html.Partial("_ActionLink", new ActionLinkViewModel { Text = "Get an isolation note", Url = "https://111.nhs.uk/isolation-note", EventTrigger = "click", EventValue = "NHS.UK Isolation Note link" })
</p>