@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - You don’t need to speak to 111 about coronavirus (COVID-19)
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@Html.HiddenFor(x => Model.Id)

<div class="measure nhsuk-core">

  <h1 class="nhsuk-heading-l">
    Answer more questions about your symptoms
  </h1>

  <p>As you:</p>
  <ul>
    <li>have <strong>not</strong> travelled to a country with a serious outbreak</li>
    <li>have <strong>not</strong> been in contact with a confirmed case</li>
  </ul>

  <p>You don’t need to speak to 111 about coronavirus (COVID-19).</p>

  <p>You can <a href="/">answer more questions about your symptoms</a> and find out what to do next.</p>

</div>
