@using AutoMapper
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - You need to isolate yourself and stay indoors
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@Html.HiddenFor(x => Model.Id)

@{
    var searchJourneyViewModel = Mapper.Map<SearchJourneyViewModel>((JourneyViewModel)Model);
    var encryptedQueryStringValues = KeyValueEncryptor.EncryptedKeys(searchJourneyViewModel);
}

<div class="measure nhsuk-core">

  <h1 class="nhsuk-heading-xl">
    You and your family need to self-isolate
  </h1>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
    <p>
      If you have a high temperature and other symptoms not related to cold or flu,
      <a href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Search?args=@encryptedQueryStringValues" data-event-trigger="click" data-event-value="Use 111 online via COVID-19 self-care page">
        check them using 111 online again.
      </a>
    </p>
  </div>

  <div class="callout callout--warning callout--lite nhsuk-u-margin-bottom-6">
    <p>
      Testing is not needed if you are self-isolating.
    </p>
  </div>

  <h2 class="nhsuk-heading-l">To avoid spreading infection</h2>

  <h3 class="nhsuk-heading-m">
    If you live alone you must self-isolate for 7 days
  </h3>
  <p>
    Do not leave your home for 7 days from when your symptoms started, however
    mild they are.
  </p>
  <p>
    This means you must not leave your home for any reason, other than to
    exercise once a day – but stay at least 2 metres (3 steps) away from other
    people.
  </p>
  <p>
    If your temperature is still high after 7 days, stay at home until it’s back
    to normal.
  </p>

  <h3 class="nhsuk-heading-m">
    If you live with other people, they should self-isolate for 14 days
  </h3>
  <p>
    Although you need only self-isolate for 7 days, other people you live with
    should stay in for 14 days.
  </p>
  <p>
    If more than 1 person at home has symptoms, self-isolate for 14 days
    from the day the first person started having symptoms.
  </p>

  <h3 class="nhsuk-heading-s">
      Vulnerable people
  </h3>
  <p>
      If you can, move any vulnerable people (the elderly and those with underlying
      health conditions) out of your home, for the whole isolation period.
  </p>
  <p>
      If you cannot do this, stay away from vulnerable people as much as possible.
  </p>

  <div class="callout callout--info callout--lite nhsuk-u-margin-bottom-4">
    <p>
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/" data-event-trigger="click" data-event-value="Self isolation advice NHS.UK link">
        Read more self-isolation advice on NHS.UK
      </a>
    </p>
  </div>

  @Html.Partial("_GetIsolationNote")

  <h2 class="nhsuk-heading-l">
      How to look after your symptoms at home
  </h2>

  <ul>
    <li>
      rest and drink plenty of fluids
    </li>
    <li>
      take paracetamol
    </li>
    <li>
      cover your mouth with a tissue when coughing or sneezing
    </li>
    <li>
      put used tissues in a bin
    </li>
    <li>
      wash your hands regularly with warm water and soap for at least 20 seconds
    </li>
  </ul>

  <p>
    If you feel you can’t cope with your symptoms at home, or your condition gets
    worse, use the 111 online service again.
  </p>
</div>
