@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - You need to isolate yourself and stay indoors
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@Html.HiddenFor(x => Model.Id)

<div class="measure nhsuk-core">

    <h1 class="nhsuk-heading-xl">You need to stay at home</h1>
    <div class="callout callout--lite callout--warning nhsuk-u-margin-bottom-4">
        <p>Stay away from other people for at least the next 7 days. 
            If your high temperature lasts longer than 7 days, stay at home until it's back to normal.</p>
        <p>Testing for coronavirus is not needed if you're staying at home.</p>
    </div>

    <p>If you are on public transport, go home by the most direct route.</p>
    <p>Stay at least 2 metres (about 3 steps) away from people if you can.</p>

    <div class="callout callout--attention nhsuk-u-margin-bottom-4">
        <p>
            To protect others, <b>do not go</b> to a GP, pharmacy or hospital
        </p>
    </div>

    <p class="nhsuk-u-margin-bottom-6"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/" data-event-trigger="click" data-event-value="NHS.UK Stay at home advice">You can read more stay at home advice on NHS.UK.</a></p>

    <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-6"> How to look after your symptoms at home </h2>
    <ul>
        <li>rest and drink plenty of fluids</li>
        <li>take paracetamol or ibuprofen</li>
        <li>cover the mouth with a tissue when coughing or sneezing</li>
        <li>put used tissues in a bin</li>
        <li>wash your hands regularly with warm water and soap for at least 20 seconds</li>
    </ul>
    <p>If you feel you can’t cope with your symptoms at home or your condition gets worse use the 111 online service again.</p>

    <h2 class="nhsuk-heading-l">When to end your stay at home</h2>

    <p>You should remain at home until 7 days after your symptoms started.</p>
    <p>After 7 days, if you feel better and no longer have a high temperature, you can go back to doing what you would normally do.</p>
    <p>The cough may go on for some weeks in some people, even though the coronavirus infection has cleared. A cough by itself does not mean you have to stay at home for more than 7 days.</p>
    <p>If you do not get better after 7 days use the 111 online assessment service again before you leave your home or let visitors in.</p>


</div>
