@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - You need to isolate yourself and stay indoors
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@Html.HiddenFor(x => Model.Id)

<div class="measure nhsuk-core">

  <h1 class="nhsuk-heading-xl">You need to isolate yourself and stay indoors</h1>
  <p>
    If you’re on public transport, go home by the most direct route. Stay at
    least 2 metres away from people if you can.
  </p>
  <p>
    If you’re away from home:
  </p>
  <ul>
    <li>find a room where you can close the door</li>
    <li>avoid touching people, surfaces and objects</li>
  </ul>

  <div class="callout callout--attention nhsuk-u-margin-bottom-6">
    <p>
      To protect yourself and others, <b>do not go</b> to a GP, pharmacy or hospital
    </p>
  </div>

  <div class="callout callout--info">
    <p>
      You should keep yourself separate from others in your household (self-isolate)
      until you have been spoken to 111.
      <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-advice/">
        Read more details about self-isolation.
      </a>
    </p>
  </div>

  <hr />

  <h2 class="nhsuk-heading-m">
    Call 111 if you start to develop symptoms of:
  </h2>
  <ul>
    <li>shortness of breath</li>
    <li>high temperature (feeling hot to touch on the chest or tummy)</li>
    <li>a cough</li>
  </ul>
  <p>
    Make sure you select the option to speak to someone. Tell them you
    are calling about possible coronavirus (COVID-19) symptoms.
  </p>
  <div class="callout callout--warning callout--lite nhsuk-u-margin-bottom-7">
    <p>
      The phone service will be very busy but you <strong>must</strong> wait
      until you get through.
    </p>
  </div>

</div>
