
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    NHS 111 - Request a test kit
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@Html.HiddenFor(x => Model.Id)


<div class="measure nhsuk-core">
  <h1 class="nhsuk-heading-xl">Book a coronavirus test</h1>
  <p>
    We need to ask for some details so we can arrange a test. But as your
    symptoms are mild you can look after yourself at home as you would with
    flu.
  </p>
  <p>
    To manage your symptoms while you wait you can:
  </p>
  <ul>
    <li>take paracetamol</li>
    <li>drink water</li>
    <li>get lots of rest</li>
  </ul>
  <p>You will be contacted in 24 hours</p>
  <p>
    @using (Html.BeginForm("PersonalDetails", "PersonalDetails", FormMethod.Post))
    {
      @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
      <button type="submit" name="PersonalDetails" value="Book a test">Book a test</button>
    }
  </p>
</div>
