@import "./globals";

$nhs-font-stack: "Frutiger W01", Arial, sans-serif;
$print-font-stack: sans-serif;

$is-print: false !default;

$base-font-size: 16px;
$baseline-grid-unit: 4px;
$default-spacing-unit: $baseline-grid-unit * 4;
$measure: 40em; // comfy reading width of ~ 55-65 characters

@font-face {
  font-family:"Frutiger W01";
  src:url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix");
  src:url("https://assets.nhs.uk/fonts/fe232554-5489-4874-bb45-bd966c8c5932.eot?#iefix") format("eot"),
      url("https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"),
      url("https://assets.nhs.uk/fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff"),
      url("https://assets.nhs.uk/fonts/caedf2e6-fbef-4928-b08e-1f975981ae8d.ttf") format("truetype"),
      url("https://assets.nhs.uk/fonts/7def0e34-f28d-434f-b2ec-472bde847115.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

$type-settings-map: (
  16: -1,
  20: 0,
  24: 1,
  32: 2,
  38: 3,
);

/* stylelint-disable */
$type-settings: (
  -1: (
    large: (
      font-size: 16px,
      line-height: $baseline-grid-unit * 6, // 24px
    ),
    medium: (
      font-size: 16px,
      line-height: $baseline-grid-unit * 6, // 24px
    ),
    small: (
      font-size: 16px,
      line-height: $baseline-grid-unit * 6, // 24px
    ),
    print: (
      font-size: 12pt,
    ),
  ),
  0: (
    large: (
      font-size: 20px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    medium: (
      font-size: 20px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    small: (
      font-size: 20px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    print: (
      font-size: 14pt,
    ),
  ),
  1: (
    large: (
      font-size: 24px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    medium: (
      font-size: 24px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    small: (
      font-size: 24px,
      line-height: $baseline-grid-unit * 8, // 32px
    ),
    print: (
      font-size: 16pt,
    ),
  ),
  2: (
    large: (
      font-size: 32px,
      line-height: $baseline-grid-unit * 12, // 48px
    ),
    medium: (
      font-size: 28px,
      line-height: $baseline-grid-unit * 12, // 48px
    ),
    small: (
      font-size: 24px,
      line-height: $baseline-grid-unit * 10, // 40px
    ),
    print: (
      font-size: 18pt,
    ),
  ),
  3: (
    large: (
      font-size: 38px,
      line-height: $baseline-grid-unit * 12, // 48px
    ),
    medium: (
      font-size: 36px,
      line-height: $baseline-grid-unit * 12, // 48px
    ),
    small: (
      font-size: 32px,
      line-height: $baseline-grid-unit * 10, // 40px
    ),
    print: (
      font-size: 20pt,
    ),
  ),
);
