<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="pathwaysSystemVariables" type="System.Configuration.DictionarySectionHandler" />
    <section name="moduleZeroJourneys" type="NHS111.Models.Models.Configuration.ModZeroJourneysSection, NHS111.Models" />
  </configSections>
  <pathwaysSystemVariables>
    <add key="SYSTEM_ONLINE" value="online" />
    <add key="SYSTEM_MERS" value="mers" />
  </pathwaysSystemVariables>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="aiAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="..\..\LogFiles\Log4Net\Log4Net.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{dd-MM-yyyy HH:mm:ss} %logger [%thread] - %message %exception%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config">
    <add key="DomainApiBaseUrl" value="http://localhost:9000/" />
    <add key="DomainApiMonitorHealthUrl" value="monitor/health" />
    <!-- Questions -->
    <add key="DomainApiQuestionUrl" value="questions/{questionId}" />
    <add key="DomainApiAnswersForQuestionUrl" value="questions/{questionId}/answers" />
    <add key="DomainApiNextQuestionUrl" value="questions/{questionId}/{nodeLabel}/answersNext" />
    <add key="DomainApiFirstQuestionUrl" value="pathways/{pathwayId}/questions/first" />
    <add key="DomainApiJustToBeSafeQuestionsFirstUrl" value="pathways/{pathwayId}/just-to-be-safe/first" />
    <add key="DomainApiJustToBeSafeQuestionsNextUrl" value="pathways/{pathwayId}/just-to-be-safe/next?answeredQuestionIds={answeredQuestionIds}&amp;multipleChoice={multipleChoice}&amp;selectedQuestionId={selectedQuestionId}" />
    <add key="PathwayJourneyUrl" value="questions/fullPathwayJourney" />
    <!-- Pathways -->
    <add key="DomainApiPathwaysUrl" value="pathways?grouped={grouped}&amp;startingOnly={startingOnly}" />
    <add key="DomainApiGroupedPathwaysUrl" value="groupedpathways?grouped={grouped}&amp;startingOnly={startingOnly}" />
    <add key="DomainApiPathwaysAgeGenderUrl" value="pathways/{gender}/{age}?grouped={grouped}&amp;startingOnly={startingOnly}" />
    <add key="DomainApiPathwayUrl" value="pathways/{pathwayId}" />
    <add key="DomainApiPathwayMetadataUrl" value="pathway/metadata/{pathwayId}" />
    <add key="DomainApiIdentifiedPathwayUrl" value="pathways/identify/{pathwayNumbers}?gender={gender}&amp;age={age}" />
    <add key="DomainApiPathwaySymptomGroup" value="pathways/symptomGroup/{pathwayNumbers}" />
    <add key="DomainApiPathwayNumbersUrl" value="pathways_direct/{pathwayTitle}" />
    <add key="DomainApiIdentifiedPathwayFromTitleUrl" value="pathways_direct/identify/{pathwayTitle}?gender={gender}&amp;age={age}" />
    <!-- Care Advice -->
    <add key="DomainApiCareAdviceUrl" value="pathways/care-advice/{age}/{gender}?markers={markers}" />
    <add key="DomainApiInterimCareAdviceUrl" value="pathways/care-advice/{dxCode}/{ageCategory}/{gender}" />
    <add key="DomainApiGetCategoriesWithPathwaysUrl" value="categories/pathways" />
    <add key="DomainApiGetCategoriesWithPathwaysAgeGenderUrl" value="categories/pathways/{gender}/{age}" />
    <!-- Outcomes -->
    <add key="DomainApiListOutcomesUrl" value="outcomes/list/" />
    <!-- SymptomDiscriminator -->
    <add key="DomainApiSymptomDiscriminatorCodeUrl" value="symptomdiscriminator/{SymptomDiscriminatorCodeId}" />
    <!-- PathwaysSearch -->
    <add key="PathwayElasticSearchUrl" value="http://192.168.99.100:9201" />
    <!--location service-->
    <add key="LocationBaseUrl" value="https://api.ideal-postcodes.co.uk/" />
    <add key="LocationApiKey" value="iddqd" />
    <add key="LocationPostcodebyGeoUrl" value="v1/postcodes?api_key={apiKey}&amp;lonlat={longitude},{latitude}" />
    <add key="LocationByPostcodeUrl" value="v1/postcodes/{postcode}?api_key={apiKey}" />
    <add key="LocationByUDPRNUrl" value="v1/addresses/{udprn}?api_key={apiKey}" />
    <!-- Version -->
    <add key="DomainApiGetVersionUrl" value="version/info" />
    <add key="RedisUrl" value="127.0.0.1:6379" />
    <!-- Storage -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />
    <add key="StorageModuleZeroJourneysTableReference" value="table-name" />

    <!--CCG Business API-->
    <add key="CCGApiBaseUrl" value="https://localhost:101/" />
    <add key="CCGApiGetCCGByPostcodeUrl" value="api/ccg/details/{postcode}" />
	  
	<add key="ServicePointManagerDefaultConnectionLimit" value="200" />  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
