@import "../environment/tools/mixins/button";

button,
.button {
  @include button($green);
}

.button--secondary {
  @include button($grey-1);
}

.button--cancel {
  @include button($red);
}

.button--link {
  background: none;
  box-shadow: none;
  color: $nhs-blue;
  font-weight: normal;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  letter-spacing: 0px;
}

.button--link:hover,
.button--link:focus {
  background: none;
  border: none;
  color: $link-hover-colour;
}

.button--link:active {
  background: $focus-colour;
}

.button--compact {
  width: auto;
  padding: $baseline-grid-unit ($baseline-grid-unit * 3);
}

.button--stacked {
  display: block;
}

button[disabled] {
  cursor: not-allowed !important;
}
