/*
  These are required on many of the pages that use nhsuk-core.
  Once the whole site is using it as default, these should not be required.
*/

@import "../environment/tools/mixins/typography";

.local-header h1 {
  margin-bottom: 0;
  @include nhsuk-font(48, 'bold');
}

.local-header {
  @include nhsuk-responsive-margin(5, 'bottom', 'true');
}

.lede {
  @extend .lede;
}

.button--link {
  @include nhsuk-font(19);
  @include nhsuk-link-style-default;
  display: inline;
  position: inherit;
  width: auto;
}

a.button,
a.button:visited {
  color: #fff;
}

a.button:focus,
a.button:hover {
  color: #212b32;
}

details > div {
  @include nhsuk-responsive-padding(4, 'top');
}


/* Some specificity hacks are required so nhsuk doesn't override existing classes */

.callout {
  @include top-and-bottom();
}

.multiple-choice--radio {
  @include nhsuk-responsive-margin(4, 'bottom', 'true');
}

details:not(.service-listing) summary {
  @include nhsuk-font(19);
}

.search__button--back {
  @extend .search__button--back;
}


.app-cookies-footer--text {
  clear: both;
  color: #4c6272;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 32px;
}


.callout {
  padding: 24px;

  @include media(desktop) {
    padding: 32px;
  }
}
