@import "../environment/settings/colours";
@import "../environment/tools/mixins";

.highlight-term {
  padding-left: 2px;
  padding-right: 2px;
  background-color: $yellow-10;
  font-style: inherit;
  font-weight: inherit;
}

/**
  search-typography is being used to test out new typography styles.
   once rolled out further, the namespacing should be removed
*/

.search-typography,
.search-typography p,
.search-typography ul,
.search-typography li {
  font-size: 17px;
  line-height: 28px;
}

.search-typography h1 {
  margin: 16px 0 16px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}

.search-typography.measure,
.search-typography .measure {
  max-width: 34em;
}

.search-typography .form-hint,
.link-list--results .search__topic-covers {
  color: $grey-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.search-typography .heading--body {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  margin: 0;
}

.search-typography summary + div {
  margin-top: 16px;
}

.search-typography .callout--info ul {
  margin: 8px 0 16px 0 !important;
}

.search-typography .callout--info li {
    margin: 0 0 8px 0;
}

.search-typography .callout--info p {
  margin: 0 0 16px 0;
}

.search-typography .heading--body + p {
  margin: 16px 0 32px 0;
}

.search-typography .search__searchbox input:focus {
  outline: 0;
  border: 2px solid #005eb8;
  box-shadow: 0 0 0 5px #ffb81c;
}

.search-typography .search__searchbox button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #ffb81c;
}


.search__button--back {
  color: $black;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  display: inline-block;
  padding: 0 12px 0 0;
  background: inherit;
  box-shadow: inherit;
}

.search__button--back:hover,
.search__button--back:focus {
  background: inherit;
  box-shadow: inherit;
  color: inherit;
}

.search__button--back:link, .search__button--back:visited, .search__button--back:active {
  color: $grey-1;
}

.search__button--back::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #425563;
  position: inherit;
}

/*
.page-section .search-typography * + * {
  margin-top: 16px;
}*/

.search-typography .search__category + .search__category {
  margin-top: 0;
}

.search-typography .link-list--results li {
  margin: 0;
  margin-bottom: 24px;
}

.search__topic {
  display: block;
  text-decoration: none;
}

.search__topic-title {
  display: block;
  font-weight: 700;
  text-decoration: underline;
}

.link-list--results .search__topic-description {
  color: $black;
  margin: 0;
  font-size: 17px;
  line-height: 28px;
}

.link-list--results .search__topic-covers {
  margin-top: 2px;
  margin-bottom: 2px;
}

.button--search {
  background-color: $blue;
  box-shadow: none;
  border: 2px solid $blue;
}


.search__searchbox input {
  font-size: 17px;
  padding: 8px;
  max-width: none;
  width: 100%;
}

.search__searchbox button {
  @include button($blue);
  box-shadow: none;
  margin-top: 1rem;
  width: 100%;
}

.search__categories {
  margin-top: 0;
}

.search__nested-category summary {
  text-indent: 0;
  padding: 0;
}

.search__nested-category .details__arrow {
  width: 24px;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.search__nested-category .details__arrow::before {
  content: "+";
}

.search__nested-category[open] .details__arrow::before {
  content: "-";
}

.search__nested-category ul {
  padding-left: 24px;
}

.search__category {
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  min-width: 1em;
  padding: 2px 8px;
  margin-bottom: 4px;
  text-decoration: none;
  border: 1px solid #d8dde0;
}

.search__category:hover,
.search__category:focus {
  color: #fff;
  background-color: #005eb8;
  border-color: #005eb8;
}

@media (min-width: 500px) {

    .search__searchbox button {
      // IE and Edge don't have autoplacement of grid, so this makes sure button is in right place
      -ms-grid-column: 2;
      // Browsers that don't support grid will show the button underneath at a normal size
      width: initial;
    }
    // Browsers that do support grid and autoplacement will have the search button next to the input field
    .search__searchbox {
      grid-template-columns: 3fr 1fr;
      display: grid;
    }

    @supports (display: grid) {
      .search__searchbox button {
        margin-top: 0;
      }
    }
    // IE 10 and 11 support grid but don't support @supports. So this targets them to remove the margin
    @media (-ms-high-contrast: none) {
      .search__searchbox button {
        margin-top: 0;
      }
    }



  .search-typography,
  .search-typography p,
  .search-typography ul,
  .search-typography li {
    font-size: 19px;
    line-height: 32px;
  }

  .search-typography h1 {
    font-size: 48px;
    line-height: 1.166;
    margin: 16px 0 40px 0;
  }

  .search-typography .form-hint,
  .link-list--results .search__topic-covers {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .search-typography .heading--body {
    font-size: 19px;
    line-height: 32px;
  }

  .search__searchbox input {
    font-size: 19px;
  }

  .search__category {
     font-size: 19px;
  }

  .link-list--results .search__topic-description {
    font-size: 19px;
    line-height: 32px;
  }

  .search__nested-category summary {
    font-size: 24px;
  }
}
