<ul>
    <li>
        <button type="submit" name="changeCurrentAddress" id="changeCurrentPostcode" value="changeCurrentPostcode" class="button--link">Change the postcode and search again</button>
    </li>
    <li>
        <button type="submit" name="changeCurrentAddress" id="enterCurrentAddressManually" value="enterCurrentAddressManually" class="button--link">I'll type in a full address</button>
    </li>
    <li>
        <button type="submit" name="changeCurrentAddress" id="dontKnowCurrentAddress" value="dontKnowCurrentAddress" class="button--link">I don't know the address</button>
    </li>
</ul>